<div>
    <div class="form-group ng-scope">
        <div class="form-group btn-group" role="group" aria-label="">
            <label for="tasks_details_config_{{$parent.$index}}">Service</label>
            <select class="form-control input-sm"
                    id="tasks_details_config_{{$parent.$index}}"
                    data-ng-model="task.record.service"
                    data-ng-options="service as service.name for service in services track by service.name">
                <option value="">--Select a service--</option>
            </select>
        </div>
    </div>
    <div class="form-group ng-scope">
        <div class="form-group btn-group " role="group" aria-label="">
            <div data-ng-if="!task.__dfUI.hasError">
                <label for="tasks_details_component_{{$parent.$parent.$index}}">Component</label>
                <select class="form-control input-sm"
                        id="tasks_details_component_{{$parent.$parent.$index}}"
                        data-ng-model="task.record.component"
                        data-ng-options="component as component for component in task.record.service.components">
                    <option value="">--Select a component--</option>
                </select>
            </div>
            <div data-ng-if="task.__dfUI.hasError">
                <input type="text" class="form-control input-sm" value="Service Error" readonly/>
            </div>
        </div>
    </div>
    <div class="form-group ng-scope">
        <div class="form-group btn-group" role="group" aria-label="">
            <label for="tasks_details_verb_{{$parent.$parent.$index}}">Method</label>
            <div id=tasks_details_verb_{{$parent.$parent.$index}}>
                <div class="verb-picker">
                    <div class="btn-group dropdown">
                        <button type="button" id="task_verb_picker" class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown" style="padding-left: 12px">
                            {{task.record.verb || 'GET'}} <span class="caret"></span>
                        </button>
                        <div style="padding: 0" class="dropdown-menu list-group" role="menu">
                            <a class="list-group-item" data-ng-click="_toggleVerbState(verb.name, $event)"
                               data-ng-repeat="verb in verbs | dfOrderExplicit:['GET', 'POST', 'PUT', 'PATCH', 'DELETE']"
                               style="padding-top: 10px;">
                                <span style="font-size: 14px;"> {{verb.name}} </span>
                                <span style="font-size: 12px;">{{verb.description}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group ng-scope">
        <div class="form-group btn-group" role="group" aria-label="">
            <label for="tasks_details_frequency_{{$parent.$parent.$index}}">Frequency</label>
            <div>
                <input class="form-control" type="number" id="tasks_details_frequency_{{$parent.$parent.$index}}"
                       data-ng-model="task.record.frequency" min="1"/>
            </div>
        </div>
    </div>
    <div class="form-group tab-content" data-ng-if="task.record.verb !== 'GET'" style="margin-top: 20px">
        <label for="jsonEditor">Payload</label>
        <div id="jsonEditor" class="tab-pane active">
            <df-ace-editor data-input-type="'string'"
                           data-input-content="task.record.payload"
                           data-input-update="serviceDefUpdateCounter"
                           data-input-format="'json'"
                           data-is-editable="true"
                           data-editor-obj="taskPayloadEditorObj"
                           data-target-div="newTask ? 'taskPayloadCreate' : 'taskPayloadEdit'">
            </df-ace-editor>
        </div>
    </div>
</div>