<div>

    <!-- Form Title -->
    <df-details-header data-new="newTask" data-api-name="'Scheduler'" data-name="task.record.name"></df-details-header>

    <form class="df-inputs-width" data-ng-submit="saveTask()" novalidate>

        <ul class="nav nav-tabs" data-role="tablist">
            <li class="active"><a showtab href="#basic" id="basic-tab" ng-click="refreshTaskEditor($event)" data-ng-class="basicInfoError ? 'df-tab-has-error' : ''">Basic</a></li>
            <li class="vert-nav-divider">
                |
            </li>
            <li><a showtab href="#config" id="config-tab" ng-click="refreshTaskEditor($event)" data-ng-class="noServiceIdError ? 'df-tab-has-error' : ''">Config</a></li>
        </ul>

        <div class="tab-content" style="margin-top: 20px">
            <div id="basic" class="tab-pane active">
                <div class="row df-inputs-row">
                    <div class="col-md-6">
                        <df-large-help data-options="dfLargeHelp.basic"></df-large-help>
                        <div>
                            <div class="form-group">
                                <label>Name</label>
                                <input id="tasks_details_info_name" class="form-control" data-ng-model="task.record.name" type="text" required placeholder="Name"/>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <input id="tasks_details_info_description" class="form-control" data-ng-model="task.record.description" type="text" placeholder="Description"/>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input id="tasks_details_info_active" data-ng-checked="task.record.is_active" type="checkbox" data-ng-model="task.record.is_active"/>
                                        Active
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="config" class="tab-pane">
                <df-large-help data-options="dfLargeHelp.config"></df-large-help>
                <scheduler-task-config></scheduler-task-config>
            </div>
        </div><!-- /.tab-content -->

        <div class="form-group form-controls">
            <div>
                <button id="tasks_details_cancel" type="button" class="btn btn-default" data-ng-click="cancelEditor()">Cancel</button>
                <input ng-if="!isBasicTab" id="tasks_details_save" class="btn btn-default btn-primary" type="submit" value="Save" />
                <a ng-click="refreshTaskConfigEditor()"
                   data-ng-if="isBasicTab"
                   class="btn btn-default btn-primary">Next ></a>
            </div>
        </div>
    </form>
</div>
