<div class="">

    <div class="">
        <div class="df-section df-section-all-round" df-fs-height>
            <div data-ng-show="isHostedSystem">
                <div class="alert alert-info">
                    <li class="fa fa-info-circle"></li>
                    The Free Hosted Edition of DreamFactory does not support Server Side Scripting. Please install DreamFactory on your cloud or server for this capability. Click <a href="https://bitnami.com/stack/dreamfactory" target="df-new">here</a> to download the open source software package.
                </div>
            </div>

            <div data-ng-show="!isHostedSystem">
              <tabs style="margin-top: 25px">
                  <pane title="Scripts">
                      <div class="row" style="margin-top: 15px">
                          <div class="col-xs-12">
                            <div class="col-xs-12">
                                <div class="well well-sm">
                                    <div class="btn-toolbar">
                                        <div class="btn-group btn-group-sm">
                                            <button class="btn btn-default" data-ng-click="toggleMenu()">Toggle Menu</button>
                                        </div>
                                        <div class="btn-group btn-group-sm">
                                            <button class="btn btn-default" data-ng-click="saveScript()" data-ng-disabled="$parent.$parent.menuPathArr.length !== 5">Save</button>
                                            <button class="btn btn-default" data-ng-click="deleteScript()" data-ng-disabled="$parent.$parent.menuPathArr.length !== 5">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="col-sm-5 col-md-4">
                                    <script-sidebar-menu></script-sidebar-menu>
                                </div>
                                <div data-ng-class="menuOpen ? 'hidden-xs col-sm-7 col-md-8' : 'col-xs-12'">
                                    <ol id="scripting-bc-nav" class="breadcrumb">
                                        <li data-ng-if="menuPathArr.length === 0"></li>
                                        <li data-ng-repeat="path in menuPathArr track by $index" data-ng-class="menuPathArr.length -1 === $index ? 'active':''">
                                            <a data-ng-click="jumpTo($index)" data-ng-if="menuPathArr.length -1 !== $index">{{path}}</a>
                                            <span data-ng-if="menuPathArr.length -1 === $index">{{path}}</span>
                                        </li>
                                    </ol>
                                    <df-ace-editor-scripting data-script-type="$parent.$parent.currentScriptObj.type" data-current-edit-obj="$parent.$parent.currentScriptObj.content" data-is-clean="$parent.$parent.isEditorClean" data-editor="$parent.$parent.editor"></df-ace-editor-scripting>
                                </div>
                            </div>
                          </div>
                      </div>
                  </pane>
                  <pane title="Script Samples">
                      <div class="row" style="margin-top: 15px">
                          <div class="col-xs-12">
                          <div class="col-xs-12">
                              <div class="well well-sm">
                                  <div class="btn-toolbar">
                                      <div class="btn-group btn-group-sm" role="group">
                                        <button type="button" data-ng-class="(sampleSelect=='node') ? 'btn btn-default active' : 'btn btn-default'" data-ng-model="sampleSelect" data-ng-click="scriptSamplesSelect('node')">Node.js</button>
                                        <button type="button" data-ng-class="(sampleSelect=='php') ? 'btn btn-default active' : 'btn btn-default'" data-ng-model="sampleSelect" data-ng-click="scriptSamplesSelect('php')">PHP</button>
                                        <button type="button" data-ng-class="(sampleSelect=='python') ? 'btn btn-default active' : 'btn btn-default'" data-ng-model="sampleSelect" data-ng-click="$parent.scriptSamplesSelect('python')">Python</button>
                                        <button type="button" data-ng-class="(sampleSelect=='v8js') ? 'btn btn-default active' : 'btn btn-default'" data-ng-model="sampleSelect" data-ng-click="scriptSamplesSelect('v8js')">V8js</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div>
                              <div class="col-xs-12">
                                  <df-ace-samples-select data-script-type="javascript"></df-ace-samples-select>
                              </div>
                          </div>
                          </div>
                      </div>
                  </pane>
              </tabs>
            </div>
        </div>
    </div>
</div>
