<df-scripting-loading></df-scripting-loading>
<div class="" ng-if="!dataLoading">
    <div class="">
        <div class="df-section df-section-all-round" df-fs-height>
            <div data-ng-show="isHostedSystem">
                <div class="alert alert-info">
                    <li class="fa fa-info-circle"></li>
                    The Free Hosted Edition of DreamFactory does not support Server Side Scripting. Please install DreamFactory on your cloud or server for this capability. Click <a href="https://bitnami.com/stack/dreamfactory" target="df-new">here</a> to download the open source software package.
                </div>
            </div>

            <div data-ng-show="!isHostedSystem">
              <form class="script-search form-controls" ng-submit="searchForScripts()">
                <input type="text" class="form-control" data-ng-model="search.text" />
                <input type="submit" value="Search &raquo;" class="btn btn-default btn-primary">
              </form>
              <tabs style="padding-top: 25px">
                  <pane title="Scripts">
                      <div class="row row-no-padding" data-ng-hide="!scriptsEnabled" style="margin-top: 15px">
                          <div class="col-xs-12">
                            <div class="col-xs-12">
                                <div class="well well-sm">
                                    <div class="btn-toolbar form-controls">
                                        <div class="btn-group btn-group-sm">
                                            <button class="btn btn-default" data-ng-click="toggleMenu()">Toggle Menu</button>
                                        </div>
                                        <div class="btn-group btn-group-sm">
                                            <button class="btn btn-default" data-ng-click="saveScript()" data-ng-disabled="$parent.$parent.menuPathArr.length !== 4">Save</button>
                                            <button class="btn btn-default" data-ng-click="deleteScript()" data-ng-disabled="$parent.$parent.menuPathArr.length !== 4 || newScript">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="col-sm-5 col-md-4">
                                    <script-sidebar-menu></script-sidebar-menu>
                                </div>
                                <div data-ng-class="menuOpen ? 'hidden-xs col-sm-7 col-md-8' : 'col-xs-12'">
                                    <ol id="scripting-bc-nav" class="breadcrumb">
                                        <li data-ng-if="menuPathArr.length === 0"></li>
                                        <li data-ng-repeat="path in menuPathArr track by $index" data-ng-class="menuPathArr.length - 1 === $index ? 'active':''">
                                            <a data-ng-click="jumpTo($index)" data-ng-if="menuPathArr.length - 1 !== $index">{{path}}</a>
                                            <span data-ng-if="menuPathArr.length - 1 === $index">{{path}}</span>
                                        </li>
                                        <span ng-if="currentScriptObj && !isEventScriptEditable"><b> (Read Only)</b></span>
                                    </ol>
                                    <df-ace-editor data-input-type="'string'"
                                                   data-input-content="currentScriptObj.content"
                                                   data-input-update="eventScriptUpdateCounter"
                                                   data-input-format="currentScriptObj.type"
                                                   data-is-editable="isEventScriptEditable"
                                                   data-editor-obj="eventScriptEditorObj"
                                                   data-target-div="'eventScript'">
                                    </df-ace-editor>
                                </div>
                            </div>
                          </div>
                      </div>
                      <div data-ng-if="subscription_required" ng-controller="PaywallCtrl">
                          <df-paywall license-type="'SILVER'" service-name="'Scripts'"></df-paywall>
                      </div>
                  </pane>
                  <pane title="Script Samples">
                      <div class="row" style="margin-top: 15px">
                          <div class="col-xs-12">
                          <div class="col-xs-12">
                              <div class="well well-sm">
                                  <div class="btn-toolbar">
                                      <div class="btn-group btn-group-sm" role="group">
                                        <button type="button" data-ng-class="(eventScriptSamplesType==='nodejs') ? 'btn btn-default active' : 'btn btn-default'" data-ng-click="scriptSamplesSelect('nodejs')">Node.js</button>
                                        <button type="button" data-ng-class="(eventScriptSamplesType==='php') ? 'btn btn-default active' : 'btn btn-default'" data-ng-click="scriptSamplesSelect('php')">PHP</button>
                                        <button type="button" data-ng-class="(eventScriptSamplesType==='python') ? 'btn btn-default active' : 'btn btn-default'" data-ng-click="scriptSamplesSelect('python')">Python</button>
                                        <button type="button" data-ng-class="(eventScriptSamplesType==='python3') ? 'btn btn-default active' : 'btn btn-default'" data-ng-click="scriptSamplesSelect('python3')">Python3</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div>
                              <div class="col-xs-12">
                                  <df-ace-samples-select></df-ace-samples-select>
                              </div>
                          </div>
                          </div>
                      </div>
                  </pane>
              </tabs>
            </div>
        </div>
    </div>
</div>

<df-github-modal editor-obj="eventScriptEditorObj"
                 accept="allowedScriptFormats"
                 target="scriptGitHubTarget">
</df-github-modal>
