<div data-ng-show="menuOpen">

    <div class="well well-sm">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" class="btn btn-default btn-sm" data-ng-click="menuBack()"
                        data-ng-disabled="!currentEventTypeObj">Back
                </button>
            </div>

            <div class="col-xs-10 ">
                <input type="text" data-ng-model="pathFilter" class="form-control input-sm" placeholder="Filter">
            </div>
        </div>
    </div>


    <div df-fs-height id="scripting-sidebar-list" style="height:500px; overflow-y: scroll">
        <!-- Menu for Scripting Type -->
        <div class="list-group scripting-list-group"
             data-ng-show="menuPathArr.length === 0 || currentScriptObj.name === 'sample-scripts' ">
            <a class="list-group-item" data-ng-repeat="type in eventTypes | filter: pathFilter"
               data-ng-click="setEventType(type)">{{type.label}}<i class="fa fa-fw fa-chevron-right pull-right"></i></a>
        </div>


        <!-- Handle menu for process driven event scripts -->
        <div data-ng-if="currentEventTypeObj.name === 'process-scripts'">
            <div class="list-group scripting-list-group" data-ng-show="menuPathArr.length === 1">
                <a class="list-group-item" data-ng-repeat="(service,paths) in events.process | filter: pathFilter"
                   data-ng-click="setService(service, paths)">{{service}}<i
                        class="fa fa-fw fa-chevron-right pull-right"></i></a>
            </div>

            <div class="list-group scripting-list-group" data-ng-show="menuPathArr.length === 2">
                <a class="list-group-item"
                   data-ng-repeat="(path,verbs) in currentServiceObj.paths | filter: pathFilter"
                   data-ng-click="setPath(path, verbs)">{{path}}<i class="fa fa-fw fa-chevron-right pull-right"></i></a>
            </div>

            <div class="list-group scripting-list-group" data-ng-show="menuPathArr.length === 3">
                <span data-ng-repeat="(verb, eventList) in currentPathObj.verbs | filter: pathFilter">
                    <a data-ng-if="eventList.length > 1" data-ng-click="setEventList(currentPathObj.name, verb, eventList)">{{currentPathObj.name}}<span class="pull-right text-muted"
                              style="font-size: 10px; margin-top: 5px; text-transform: uppercase;">{{verb}}</span>
                    </a>
                    <a data-ng-if="eventList.length <= 1" data-ng-click="setScript(event)" data-ng-repeat="event in eventList">{{event}}
                        <span data-ng-if="!uppercaseVerbLabels" class="pull-right text-muted"
                              style="font-size: 10px; margin-top: 5px;">{{verb}}</span>
                        <span data-ng-if="uppercaseVerbLabels" class="pull-right text-muted"
                              style="font-size: 10px; margin-top: 5px; text-transform: uppercase;">{{verb}}</span>
                    </a>
                    </span>
                </span>
            </div>

            <div class="list-group scripting-list-group" data-ng-show="currentPathObj.events">
                <span data-ng-repeat="event in currentPathObj.events">
                    <a data-ng-click="setScript(event); clearEventList()">{{event}}<span class="pull-right text-muted"
                              style="font-size: 10px; margin-top: 5px; text-transform: uppercase;">{{currentPathObj.verb}}</span>
                    </a>
                </span>
            </div>

        </div>

        <!-- Handle menu for broadcast driven event scripts -->
        <div data-ng-if="currentEventTypeObj.name === 'broadcast-scripts'">

            <div class="list-group scripting-list-group" data-ng-show="menuPathArr.length === 1">
                <a class="list-group-item" data-ng-repeat="(service,paths) in events.broadcast | filter: pathFilter"
                   data-ng-click="setService(service, paths)">{{service}}<i
                        class="fa fa-fw fa-chevron-right pull-right"></i></a>
            </div>

            <div class="list-group scripting-list-group" data-ng-show="menuPathArr.length === 2">
                <a class="list-group-item"
                   data-ng-repeat="(path,verbs) in currentServiceObj.paths | filter: pathFilter"
                   data-ng-click="setPath(path, verbs)">{{path}}<i class="fa fa-fw fa-chevron-right pull-right"></i></a>
            </div>

            <div class="list-group scripting-list-group" data-ng-show="menuPathArr.length === 3">
                <span data-ng-repeat="(verb,eventList) in currentPathObj.verbs | filter: pathFilter">
                    <a
                            data-ng-click="setScript(event)"
                            data-ng-repeat="event in eventList">{{event}}
                        <span data-ng-if="!uppercaseVerbLabels" class="pull-right text-muted"
                              style="font-size: 10px; margin-top: 5px;">{{verb}}</span>
                        <span data-ng-if="uppercaseVerbLabels" class="pull-right text-muted"
                              style="font-size: 10px; margin-top: 5px; text-transform: uppercase;">{{verb}}</span>
                    </a>
                </span>
            </div>

        </div>

        <div data-ng-show="(menuPathArr.length === 4 && !currentPathObj.events) || menuPathArr.length > 4">
            <div class="form-group">
                <label>Script Name</label>
                <input class="form-control" type="text" data-ng-disabled="true"
                       data-ng-model="currentScriptObj.name"/>
            </div>

            <div class="form-group">
                <label>Script Type/Language</label>
                <select class="form-control input-sm"
                        data-ng-model="currentScriptObj.type"
                        data-ng-options="scriptType.name as scriptType.label for scriptType in scriptTypes">
                </select>
            </div>

            <div class="form-group">
                <label>Active</label>
                <input class="form-control" type="checkbox" data-ng-model="currentScriptObj.is_active"/>
            </div>

        </div>

    </div>

</div>
