<fieldset style="all:inherit; border: 2px solid #d3d3d3; padding:8px; border-radius:5px">
        <legend data-ng-if="legend" style="all:inherit; font-weight:bold;">{{legend}}</legend>
        <div class="checkbox" style="margin-top: 0; margin-bottom: 0;">
            <label>
                <input type="checkbox" data-ng-change="toggleSelectAll()" data-ng-model="allSelected" >
                <span style="font-weight:bold">Select All</span>
            </label>
        </div>
        <div class="checkbox" ng-repeat='option in options' style="display: inline-block; width:{{width}}%; margin-top: 0; margin-bottom: 0;">
            <label>
                <input type="checkbox" data-ng-change="setSelectedOptions()"  data-ng-model="option.active">
                <span>{{option.label}}</span>
            </label>
        </div>
</fieldset>