<div class="df-paywall">
  <h1>Access to {{ serviceName }} is available via our commemrcial packages</h1>

  <h2>Start a Free Trial</h2>

  <div class="paywall-options">
    <div class="paywall-column">
      <h4>Hosted Free Trial</h4>
      <p>Sign up for a Free Hosted Trial and gain immediate access to all commercial features and connectors.</p>
    </div>

    <div class="paywall-column">
      <h4>On-Premise or Your Cloud</h4>
      <p>If you require Testing On-Premise (or in your own cloud environment) schedule 15-min to speak to an engineer and get started with the version most suitable to your needs.</p>
    </div>
  </div>
  <h2>or Speak to a Human</h2>
</div>

<div class="calendly-inline-widget"
  style="min-width:320px;height:690px;" data-auto-load="false"></div>

<h3 class="df-paywall-contact">
  <a href="tel:+1 415-993-5877">Phone: +1 415-993-5877</a> |
  <a href="mailto:info@dreamfactory.com">Email: info@dreamfactory.com</a>
</h3>
