<div>
    <!-- Single button -->
    <div class="btn-group" data-ng-class="size ? 'btn-group-sm' : ''">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {{btnText}} <span class="caret"></span>
        </button>
        <div style="padding: 0" class="dropdown-menu list-group" role="menu">
            <a class="list-group-item" data-ng-click="_toggleRequestorState(requestor.name, $event)" data-ng-repeat="requestor in requestors | dfOrderExplicit:['API', 'SCRIPT']">
                <div class="checkbox" style="margin-top: 0; margin-bottom: 0;">
                    <label>
                        <input type="checkbox" data-ng-click="_toggleRequestorState(requestor.name, $event)" data-ng-model="requestor.active" data-ng-checked="requestor.active" >
                        <span style="font-size: 14px;"> {{requestor.name}} </span>
                    </label>
                </div>
            </a>
        </div>
    </div>
</div>