<div class="panel" style="box-shadow: none;">
    <div>
        <a data-toggle="collapse" style="text-decoration: none; cursor: pointer" data-target="#select-access-tabs-body">
            <h4 class="panel-title">Access by tabs</h4>
        </a>
    </div>
    <div id="select-access-tabs-body" class="panel-collapse collapse in">
        <div class="alert alert-info" style="margin-top: 20px">
            <div class="fa fa-info-circle"></div>
            {{ description }}
        </div>
        <div class="panel-body" style="padding: 0px;">
            <div class="form-group">

                <div class="checkbox" style="margin-bottom: 20px">
                    <label>
                        <input id="select-all-tabs" type="checkbox" ng-model="areAllTabsSelected"
                               ng-change="selectAllTabs(areAllTabsSelected)">
                        Select all
                    </label>
                </div>
                <div class="checkbox row col-sm-6 no-gutter" ng-repeat="tab in accessByTabs track by $index">
                    <label>
                        <input type="checkbox" ng-model="tab.checked" ng-change="selectTab(tab)"/>
                        {{tab.title}}
                    </label>
                </div>

            </div>
        </div>
    </div>
    <hr/>
</div>
