
<div class="alert alert-info" data-ng-show="newAdmin">
    <li class="fa fa-info-circle"></li>
    For new Admins you can send an email invite so they can set their own password, or set a password for them now.
</div>

<!-- Active when creating an admin -->
<div data-ng-show="newAdmin">
    <div class="checkbox">
        <label>
            <input type="checkbox" data-ng-model="sendEmailOnCreate" data-ng-checked="sendEmailOnCreate" />
            Send Email Invite
        </label>
    </div>
</div>

<!-- Active when editing an admin -->
<div data-ng-show="!newAdmin">
    <div data-ng-if="admin.record.confirmed">
        <p>
            <label>Confirmed</label>
            </br>Yes
        </p>
    </div>
    <div data-ng-if="!admin.record.confirmed">
        <p>
            <label>Confirmed</label>
            </br>No&nbsp;&nbsp;
            <button type="button" class="btn btn-default" data-ng-click="invite()"><i class="icon-envelope"></i> Send Invite</button>
        </p>
    </div>
</div>
