<div class="form-group">

    <div class="form-group">
        <p>Produces</p>
        <div data-ng-repeat="type in produceTypes" class="checkbox">
            <label>
                <input type="checkbox" data-ng-checked="type.checked" data-ng-model="type.checked" data-ng-change="_typeAddRemove(type, 'produces')" />
                {{type.label}}
            </label>
        </div>
    </div>

    <div class="form-group">
        <p>Consumes</p>
        <div data-ng-repeat="type in consumeTypes" class="checkbox">
            <label>
                <input type="checkbox" data-ng-checked="type.checked" data-ng-model="type.checked" data-ng-change="_typeAddRemove(type, 'consumes')"/>
                {{type.label}}
            </label>
        </div>
    </div>

</div>