<div class="panel panel-default">
    <div class="panel-heading">
        Apis
    </div>

    <div class="panel-body">

        <df-section-toolbar>
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default" data-ng-click="addApi()">New Api</button>
            </div>
        </df-section-toolbar>
    </div>

    <ul class="list-group">
        <li class="list-group-item swagger-group-item" data-ng-repeat="api in apis">
            <df-swagger-api data-api="api"></df-swagger-api>
        </li>
    </ul>
</div>

