
<div data-ng-show="securityQuestionForm">

    <div class="panel panel-default">
        <div class="panel-heading df-panel-heading">
            <h3 class="panel-title">Security Question</h3>
        </div>
        <div class="panel-body">

            <p>Answer the security question to reset your password.</p>

            <!-- Forgot Password Form -->
            <form name="security-question-form" data-ng-submit="securityQuestionSubmit(reset)" autocomplete="off">
                <div class="form-group">
                    <input type="hidden" name="reset-password-email" placeholder="Enter Email"
                           data-ng-model="sq.email" class="form-control" required autocomplete="off">
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-fw fa-question"></i></span>
                        <input type="text" id="reset-question" data-ng-model="sq.question" class="form-control"  autocomplete="off"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-fw fa-key"></i></span>
                        <input type="text" id="reset-answer" data-ng-model="sq.answer" class="form-control" autocomplete="off" />
                    </div>
                </div>


                <div class="form-group" data-ng-class="{'has-error' : identical === false}">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-fw fa-key"></i></span>
                        <input type="password" id="password" name="df-register-password" placeholder="Enter Password"
                               data-ng-model="sq.new_password" class="form-control" required
                               data-ng-keyup="verifyPassword(user)"  autocomplete="off">
                    </div>
                </div>


                <div class="form-group" data-ng-class="{'has-error' : identical === false}">

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-fw fa-check"></i></span>
                        <input type="password" id="verify-password" name="df-register-verify-password" placeholder="Verify Password"
                               data-ng-model="sq.verify_password" class="form-control" required
                               data-ng-keyup="verifyPassword(user)" autocomplete="off">
                    </div>
                </div>



                <input class="btn btn-primary btn-block" id="submit-security-question" type="submit" value="Reset Password">

                <!--<button class="btn btn-default pull-right" id="login-form-active" type="button"
                        data-ng-click="showLoginForm()">Show Login</button>-->
            </form>
        </div>
    </div>

</div>
