<div data-ng-if="showTemplate">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 df-auth-container df-section-all-round">


            <div class="alert alert-danger" role="alert" data-ng-show="errorMsg !== ''">
                <button type="button" class="close" data-ng-click="dismissError()"><span aria-hidden="true">&times;</span></button>
                {{errorMsg}}
            </div>


            <div class="panel panel-default">
                <div class="panel-heading df-panel-heading">
                    <h3 class="panel-title">Register</h3>
                </div>

                <div class="panel-body">

                    <!-- Register Form -->
                    <form name="login-form" data-ng-submit="register(user)" autocomplete="off">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-fw fa-envelope"></i>
                                </span>
                                <input type="email" id="email" name="df-register-email" placeholder="Enter Email"
                                       data-ng-model="user.email" class="form-control" required autocomplete="off">
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-fw fa-user"></i>
                                </span>
                                <input type="text" id="first-name" name="df-register-first-name" placeholder="Enter First Name"
                                       data-ng-model="user.first_name" class="form-control" required autocomplete="off">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-fw fa-user"></i>
                                </span>
                                <input type="text" id="last-name" name="df-register-last-name" placeholder="Enter Last Name"
                                       data-ng-model="user.last_name" class="form-control" required autocomplete="off">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-fw fa-user"></i>
                                </span>
                                <input type="text" id="display-name" name="df-register-display-name" placeholder="Enter Display Name"
                                       data-ng-model="user.name" class="form-control" required autocomplete="off">
                            </div>
                        </div>


                        <div data-ng-if="options.confirmationRequired == null">

                            <hr />
                            <div class="form-group" data-ng-class="{'has-error' : identical === false}">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-fw fa-key"></i>

                                    </span>
                                    <input type="password" id="password" name="df-register-password" placeholder="Enter Password"
                                           data-ng-model="user.new_password" class="form-control" required
                                           data-ng-keyup="verifyPassword(user)"
                                           autocomplete="off"
                                            >

                                </div>
                            </div>


                            <div class="form-group" data-ng-class="{'has-error' : identical === false}">

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-fw fa-check"></i>
                                    </span>
                                    <input type="password" id="verify-password" name="df-register-verify-password" placeholder="Verify Password"
                                           data-ng-model="user.verify_password" class="form-control" required
                                           data-ng-keyup="verifyPassword(user)"
                                           autocomplete="off"
                                            >
                                </div>

                            </div>
                        </div>
                        <!-- <input type="submit" value="submit"> -->
                        <input class="btn btn-primary btn-block" id="submit-login" type="submit" value="Register">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>