<div class="saml-auth-providers">
    <div class="panel panel-default" data-ng-if="samls.length !== 0">
        <div class="panel-heading">SAML 2.0 Login</div>
        <div class="panel-body">
            <span style="margin-right:10px" ng-repeat="(key, val) in samls">
                <!--we have an icon-->
                <button type="button" class="btn btn-primary btn-sm" data-ng-if="val.icon_class" data-ng-click="samlAuthLogin(val.path)">
                    <i class="fa {{val.icon_class}} fa-2x"></i>
                </button>
                <!--there is no icon-->
                <a data-ng-if="!val.icon_class" ng-href="{{url}}/{{val.path}}">{{val.label}}</a>
            </span>
        </div>
    </div>
</div>