<form class="form-inline" autocomplete="nope">
	<div class="row">
		<div class="col-xs-1" style="padding-top: 10px;">
			<label for="">Export to: </label>
		</div>
		<div class="col-xs-11">
		<div class="form-inline">
			<select class="form-control" data-ng-model="selectedFolder" data-ng-options="folder as folder for folder in folders" data-ng-required="true"></select>
		    <label for=""> / </label>
		    <input class="form-control" data-ng-model="subFolderName" placeholder="__EXPORTS" id="nofillfolder" autocomplete="nope" />
			<label for=""> / </label>
			<input class="form-control" data-ng-model="fileName" placeholder="File Name (Optional)" id="nofilename" autocomplete="nope" />
		    </div>
		</div>
	</div>
	<div class="row">
		<div></div>
	</div>
	<div class="row" style="padding-top: 10px;" data-ng-hide="!enablePassword">
		<div class="col-xs-1" style="padding-top: 10px;">
			<label for="">Password: </label>
		</div>
		<div class="col-xs-11">
			<input type="" data-ng-model="packagePassword" class="form-control" id="noautofillpassword" autocomplete="nope" />
		</div>
	</div>

	<div class="row df-btn-row" style="padding-top: 20px; padding-bottom: 20px">
	    <div class="col-xs-1"> </div>
	    <div class="col-xs-11">
	        <button df-export-package type="button" class="btn btn-primary" data-ng-click="exportPackage()">Export</button>
			<button ng-if="showDownload" type="button" class="btn btn-success" data-ng-click="exportDownload()">Download</button>
	        <button df-export-package type="button" class="btn btn-default" data-ng-click="exportClear()">Clear</button>
	    </div>
	</div>
</form>

<!-- Modal -->
<!--div modal-show modal-visible="showExportDialog" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{exportModalHeadline}}</h4>
			</div>
			<div class="modal-body">
				{{exportModalBody.head}}
				<br /><br />
				<b>Description:</b><br />
				{{exportModalBody.content}}
				<br />
				<div ng-if="exportModalBody.download !== ''">
					<br />
					{{exportModalBody.download}}
					<br />
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div-->





