<div class="row">
    <div class="col-xs-6">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Type</label>
                <select class="form-control" data-ng-model="selectedType" data-ng-options="type as type.label for type in types" data-ng-required="true">
                    <option value="">-- No Type Selected --</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Name</label>
                <select class="form-control" data-ng-model="selectedName" data-ng-options="name as name for name in names" data-ng-disabled="selectedName == 'disabled'">
                    <option value="">-- No Names Selected --</option>
                </select>
            </div>
            <div class="form-group">
                <button df-export-package type="button" class="btn btn-default" data-ng-click="addToPackage()">Add to Package</button>
            </div>
        </form>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default" data-ng-hide="selectedNameLabel == ''">
            <div class="panel-heading">
                <div class="checkbox" style="margin-left: -9px;">
                    <label>
                        <input type="checkbox" data-ng-checked="selectAll" data-ng-model="selectAll" />
                        {{selectedNameLabel}}
                    </label>
                </div>
            </div>
            <div style="height: 150px; overflow-x:scroll; overflow: -moz-scrollbars-vertical;" class="package-export-table">
            	<table class="table table-hover table-condensed table-striped table-bordered" >
                    <tbody>
                        <tr data-ng-repeat="component in selectedNameData" data-ng-class="component.__dfUI.selected ? 'info' : ''">
                            <td>
                                <input type="checkbox" data-ng-checked="component.__dfUI.selected" data-ng-model="component.__dfUI.selected" />
                            </td>
                            <td>
                                {{component.record.display_label}}
                            </td>
                        </tr>
                    </tbody>
                </table>		
            </div>
        </div>
    </div>
</div>
