<div class="panel panel-default">
    <div class="panel-heading">
        Select Schema to Export
    </div>

    <div style="height: 300px; overflow-x:scroll" class="package-export-table">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default" data-ng-repeat="components in databases">
                <div class="panel-heading" role="tab" id="heading{{components.service_id}}">
                    <h4 class="panel-title">
                        <a id="service_id_{{components.service_id}}" onclick="collapse_toggle($(this))" data-toggle="collapse" data-parent="#accordion" href="" aria-expanded="false" aria-controls="collapse{{components.service_id}}">
                            {{components.name}}
                        </a>
                    </h4>
                </div>
                <div id="collapse{{components.service_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{components.service_id}}">
                    <table class="table table-hover table-condensed table-striped table-bordered" >
                        <tbody>
                        <tr data-ng-repeat="component in components.tables" data-ng-class="component.__dfUI.selected ? 'info' : ''">
                            <td>
                                <input type="checkbox" data-ng-checked="component.__dfUI.selected" data-ng-model="component.__dfUI.selected" data-ng-disabled="!selectedApp"/>
                            </td>
                            <td>
                                {{component.record}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function collapse_toggle(group){
        var _id = group[0].id;
        var collapse = '#collapse' + _id.substr(_id.lastIndexOf("_") + 1);

        $(collapse).collapse('toggle')
    }
</script>