<h5>Selected Package Content</h5>
<table class="table table-hover table-condensed table-striped table-bordered">
    <thead>
        <tr>
            <th style="width: 75px"></th>
            <th>Type</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>

    <tbody>
        <tr data-ng-if="tableData.length == 0">
            <td colspan="4">
                <div class="cell-content">
                    <div>
                        No package contents
                    </div>
                </div>
            </td>
        </tr>

        <tr data-ng-repeat="row in tableData" class="repeated-item">
            <td>
                <div class="cell-content">
                    <div class="checkbox" style="margin: 0">
                        <label>
                            <button type="button" class="btn btn-default btn-xs" data-ng-click="removeRow($index)" title="Delete"><i class="fa fa-trash"></i></button>
                        </label>
                    </div>
                </div>
            </td>

            <td>
                <div class="cell-content">
                    <div>
                        {{row.type.label}}
                    </div>
                </div>
            </td>
            <td>
                <div class="cell-content">
                    <div>
                        {{row.name}}
                    </div>
                </div>
            </td>
            <td>
                <div class="cell-content">
                    <div>
                        {{row.descr}}
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>