<df-package-loading></df-package-loading>
<div ng-show="!dataLoading">
    <div class="col-xs-12 df-section">
        <div>
            <df-large-help data-options="dfLargeHelp.packageManager"></df-large-help>
            <tabs>
                <pane title="Export Package">
                    <span ng-if="!eventScriptEnabled"><b>Note: </b> Upgrade to a paid license to be able to export <b><a href="https://wiki.dreamfactory.com/DreamFactory/Features/Scripting/Event_Scripting">Event Scripts</a>.</b></span>
                    Email <a href="mailto:sales@dreamfactory.com" >sales@dreamfactory.com</a> or call +1 415-993-5877 for pricing information.
                    <df-large-help data-options="dfLargeHelp.packageExport"></df-large-help>
                    <div class="row">
                        <div class="col-xs-12">
                            <df-select-content></df-select-content>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <hr />
                        </div>
                    </div>
                    <br>
                    <div class="row"> 
                        <div class="col-xs-12"> 
                            <df-view-content></df-view-content>
                        </div> 
                    </div>
                    <br>
                    <div class="row" style="padding-bottom: 20px; padding-top: 15px">
                        <div class="col-xs-12">
                            <df-select-folder></df-select-folder>
                        </div>
                    </div>
                </pane>

                <pane title="Import Package">
                    <span ng-if="!eventScriptEnabled"><b>Note: </b> Upgrade to a paid license to be able to import <b><a href="https://wiki.dreamfactory.com/DreamFactory/Features/Scripting/Event_Scripting">Event Scripts</a>.</b></span>
                    Email <a href="mailto:sales@dreamfactory.com" >sales@dreamfactory.com</a> or call +1 415-993-5877 for pricing information.
                    <div class="row">
                        <div class="col-xs-12">
                            <br/>
                            <df-import-package></df-import-package>
                            <br/>
                        </div>
                    </div>
                </pane>
            </tabs>
        </div>
    </div>
</div>
