
<div class="alert alert-info" data-ng-show="newUser">
    <li class="fa fa-info-circle"></li>
    &nbsp;
    &nbsp;
    For new Users you can send an email invite so they can set their own password, or set a password for them now.
</div>

<!-- Active when creating a User -->
<div data-ng-show="newUser">
    <div class="checkbox">
        <label>
            <input type="checkbox" data-ng-model="sendEmailOnCreate" data-ng-checked="sendEmailOnCreate" />
            Send Email Invite
        </label>
    </div>
</div>

<!-- Active when editing a user -->
<div data-ng-show="!newUser">
    <div data-ng-if="user.record.confirmed">
        <p>
            <label>Confirmed:</label> Yes
        </p>
    </div>
    <div data-ng-if="!user.record.confirmed">
        <p>
            <label>Confirmed: </label>No&nbsp;&nbsp;
            <br>
            <button type="button" class="btn btn-default" data-ng-click="invite()"><i class="fa fa-envelope"></i> Send Invite</button>
        </p>
    </div>
</div>
