<div class="form-group">
    <div class="alert alert-info">
        <li class="fa fa-info-circle"></li>
        Lookup keys for service configuration and credentials must be made private.
    </div>


    <div class="panel panel-default">
        <table class="table table-hover table-striped table-responsive table-rows-extendable">
            <thead>
                <tr>
                    <th><div>Name</div></th>
                    <th><div>Value</div></th>
                    <th><div>Private</div></th>
                    <!-- Todo: implement this after implementing an UI for non-admin users to update lookups
                    <th>Allow User Update</th>
                    -->
                    <th>
                        <i class="fa fa-trash-o fa-fw"></i>
                    </th>
                    <th>
                        <div class="btn-group">
                            <button type="button" id="user_details_lookupkeys_addlookupkeys" class="btn btn-default btn-sm" data-ng-click="newKey()" title="Add lookup key"><i class="fa fa-plus fa-fw"></i></button>
                        </div>
                    </th>
                </tr>
            </thead>

            <tbody class="tbody-transparent">
                <tr data-ng-repeat="key in lookupKeys track by $index" ng-show="key.record.user_id !== null">
                    <td class="form-group" data-ng-class="key.__dfUI.unique ? '' : 'has-error'">
                        <div class="cell-content input-cell">
                            <div>
                                <input id="user_details_lookupkeys_name_{{$index}}" class="form-control" data-ng-model="key.record.name" data-ng-keyup="_isUniqueKey()" type="text" data-ng-required="true" placeholder="Name"/>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="cell-content input-cell">
                            <div>
                                <input id="user_details_lookupkeys_value_{{$index}}" class="form-control"  data-ng-model="key.record.value" type="text" data-ng-required="true" placeholder="Value"/>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="cell-content checkbox-cell">
                            <div>
                                <input id="user_details_lookupkeys_private_{{$index}}" data-ng-model="key.record.private" type="checkbox" />
                            </div>
                        </div>
                    </td>
                    <!-- Todo: implement this after implementing an UI for non-admin users to update lookups
                    <td>
                        <input data-ng-model="key.record.allow_user_update" type="checkbox" />
                    </td>
                    -->
                    <td>
                        <div class="cell-content icon-cell">
                            <div>
                                <div class="btn-group">
                                    <button id="user_details_lookupkeys_removelookupkey_{{$index}}" type="button" class="btn btn-default btn-sm" data-ng-click="removeKey($index)" title="Delete lookup key"><i class="fa fa-trash-o fa-fw"></i></button>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="cell-content"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table-rows-extendable">
        <p class="empty-table-placeholder" data-ng-if="lookupKeys.length === 0">
            No lookup keys for this user. Click the &nbsp;<i class="fa fa-plus fa-fw"></i>&nbsp; button to add.
        </p>
    </div>
</div>
