<div class="">

    <div class="col-md-2 df-sidebar-nav">
        <df-sidebar-nav></df-sidebar-nav>
    </div>
    <div class="col-md-10 df-section" data-ng-class="activeView.path === 'manage-users' ? 'df-section-3-round' : 'df-section-all-round'" df-fs-height>
        <df-user-loading></df-user-loading>
        <df-manage-users data-ng-if="!dataLoading && activeView.path === 'manage-users'"></df-manage-users>
        <df-user-details data-ng-if="!dataLoading && activeView.path === 'create-user'" data-new-user="true" data-api-data="apiData"></df-user-details>
    </div>
</div>
