<div class="row">
    <div class="col-md-10 pull-left" >

        <hr />
        <!-- Section Header -->
        <!--<df-section-header data-title="'Quick Start'"></df-section-header>-->
        <!-- Quickstart Step One -->
        <div data-ng-show="step === 1" >
            <form name="form" role="form" novalidate>
                <div class="form-group has-feedback">
                    <h3>Choose an Application ID</h3>

                    <p>
                        Before writing your application, you must specify an application name. This name is used to generate your API key for
                        making API calls to DreamFactory. Your application name can contain letters A-Z, numbers, underscores,
                        and dashes. Other characters are not allowed.
                    </p>

                    <div class="col-xs-12 col-sm-6 col-md-4" data-ng-class="!_isApiNameUnique() || form.$invalid ? 'has-error' : ''" style="padding-left: 0;">
                        <input type="text"
                               id="app_api_name"
                               name="api-name"
                               class="form-control required"
                               data-ng-model="app.record.name"
                               data-ng-maxlength="64"
                               data-ng-minlength="3"
                               data-ng-pattern="/^[a-zA-Z0-9_\-]*$/"
                               placeholder="Your Application Name">
                        <p class="text-danger" data-ng-show="form.$dirty && form.$invalid">Your name contains invalid characters.</p>
                        <p class="text-danger" data-ng-show="form.$dirty && !_isApiNameUnique() && form.$valid">This name has already been taken.</p>
                    </div>
                </div>

                <div class="form-group" style="clear: both; padding-top: 15px;">
                    <h3>Application Type</h3>

                    <p>
                        The next step is to specify the type of application you're building. Web-based applications
                        usually run in a browser and use HTML and Javascript. Native applications are compiled packages
                        that run natively on mobile devices.
                    </p>

                    <div class="radio">
                        <label>
                            <input type="radio"
                                   name="app_type"
                                   id="app-type-web"
                                   data-ng-model="app.record.native"
                                   value="0"
                                   checked="checked" style="margin-top: 5px;">Web-Based
                            &nbsp;<i class="fa fa-html5" title="HTML5"></i>
                            &nbsp;<i class="fa fa-css3" title="CSS3"></i>
                            &nbsp;<i class="fa fa-file-text" title="Javascript"></i>
                        </label>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio"
                                   name="app_type"
                                   id="app-type-native"
                                   value="1"
                                   data-ng-model="app.record.native" style="margin-top: 5px;">Native
                            &nbsp;<i class="fa fa-android" title="Android SDK"></i>
                            &nbsp;<i class="fa fa-apple" title="Apple iOS"></i>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <button id="btn-step-1" class="btn btn-primary" title="Continue to the next step"
                            data-ng-disabled="!app.record.name || form.$invalid || !_isApiNameUnique()" data-ng-click="setStep(2)">Continue
                    </button>
                </div>
            </form>
        </div>

        <!-- Quickstart Step Two -->
        <div data-ng-show="step === 2">

            <h3>Where will you develop?</h3>

            <p>
                Some developers prefer to edit HTML, CSS, and JavaScript on their local computers, then deploy the
                package to DreamFactory. Developing locally can simplify debugging and makes it easy to use desktop
                development tools. Others prefer to edit application code directly from the DreamFactory Admin Console.
                This allows you to make code changes and test your application immediately. You can always switch back
                and forth between these methods as needed.
            </p>

            <br />
            <h3>Where do you want to develop your app?</h3>

            <div class="col-xs-6">
                <div class="radio">
                    <label>
                        <input type="radio"
                               name="development-locale"
                               id="development-local"
                               value="1"
                               checked="checked"
                               data-ng-model="app.__dfUI.devLocal">
                        Locally (edit code on your desktop)
                    </label>
                </div>

                <div class="radio">
                    <label>
                        <input type="radio"
                               name="development-locale"
                               id="development-remote"
                               value="0"
                               data-ng-model="app.__dfUI.devLocal">
                        Here in the Admin Console (edit code in your browser)
                    </label>
                </div>
            </div>

            <div class="form-group pull-right" style="clear: both;padding-top: 10px;margin-bottom: 5px;">
                <button class="btn btn-primary" data-ng-click="setStep(1)" title="Go back to the previous step">Previous</button>
                <button data-ng-disabled="app.__dfUI.devLocal === null" title="Continue to the next step"
                        class="btn btn-primary"
                        data-ng-click="_createApp(3)">Continue
                </button>
            </div>
        </div>



        <!-- Quickstart Step 3 -->
        <div data-ng-show="step === 3">

            <h3>Congratulations!</h3>

            <!-- Web Apps -->
            <div data-ng-show="app.record.native == false">

                <!-- Remote Web Apps (Apps NOT stored in DSP local storage -->
                <div data-ng-show="!app.record.storage_service_id">
                    <p>
                        Your application ID has been created. You'll now see your application in the Apps tab of the Admin
                        Console. Here you can change application properties, preview your application, edit any hosted
                        files, and delete the application. In the file editor you'll see an index.html file with example
                        code for making API calls. There is also a README file with additional information.
                    </p>

                    <p>
                        You can return to the Admin Console at any time to explore other features in DreamFactory,
                        including users, roles, schema, external services, and more!
                    </p>

                </div>

                <!-- Local Web Apps (Apps stored in DSP local storage) -->
                <div ng-show="app.record.storage_service_id">
                    <p>Your application has been successfully created. When you select the
                        Apps tab from the left sidebar, you will see your application in the list. Each DSP
                        instance comes with example applications to help get you started as well.
                    </p>

                    <p>You can return to the Admin Console at any time to explore the other available features
                        of your DSP. This includes, but is not limited to, managing users, creating and assigning roles, creating
                        and managing schemata, and wiring up external services!
                    </p>

                    <p>
                        While exploring the Admin Console you'll be able to change application properties, preview your application, edit any hosted files, or even delete the application. In the file editor you will see your
                        index.html file. This has example code to help you get started calling various services and building your application. There is also a
                        README file with additional pertinent information.
                    </p>

                    <div class="pull-right"><img src="images/hosted.png" /></div>
                </div>


                <!-- This pertains to ALL web based apps -->
                <h3>Download the SDK!</h3>

                <p>
                    The Javascript SDK is a convenience wrapper for DreamFactory's REST API. The SDK automatically
                    contains your REST endpoints and application ID (your API key) so you can get coding immediately.
                    When you add a new service in the Admin Console, the Javascript SDK automatically includes the new
                    service the next time your application loads.
                </p>

                <p>
                    The Javascript df object provides access to the SDK. The df object is a property added to the DOM's
                    window object. To see this in action using Chrome's Developer Tools, open the console and start typing
                    window.df.apis. This will display all the methods and properties of the df object.
                </p>

                <p>
                    DreamFactory's REST API accepts and returns data in either JSON or XML format. The API Docs tab in
                    the Admin Console provides input and output details for both JSON and XML as well as detailed
                    documentation, example code, and a live testing system for all available services.
                    <!--<a href="http://www.dreamfactory.com/developers/examples"
                       target="_blank">http://www.dreamfactory.com/developers/examples
                    </a>-->

                </p>

                <div>

                    <div>
                        <p>
                            Use of the SDK on the local file system requires your list of allowed hosts to be open (i.e. "*").
                            This setting is available in the CORS section under the Config tab.
                        </p>
                    </div>

                    <button type="button" data-ng-click="downloadSDK()" class="btn btn-primary" title="Download the sdk">Download the SDK</button>

                    <span class="pull-right"><img src="images/local.png" /></span>

                    <div style="clear: both"></div>

                </div>
            </div>

            <!-- Native (iOS/Android) Apps -->
            <div data-ng-show="app.record.native == true">


                <p>
                    Your application ID has been created. You'll now see your application in the Apps tab of the Admin
                    Console. Here you can change application properties, preview your application, edit any hosted files,
                    and delete the application.
                </p>

                <p>
                    You can return to the Admin Console at any time to explore other features in DreamFactory,
                    including users, roles, schema, external services, and more!
                </p>

                <div>
                    <a href="https://github.com/dreamfactorysoftware/android-sdk" target="_blank" class="btn btn-primary"><i
                            class="fa fa-android"
                            style="margin-right: 8px;"></i>Android SDK
                    </a>
                    <a href="https://github.com/dreamfactorysoftware/ios-sdk" target="_blank" class="btn btn-primary"><i
                            class="fa fa-apple"
                            style="margin-right: 8px;"></i>iOS SDK
                    </a>
                    <a data-ng-click="goToDocs()" class="btn btn-default"><i class="fa fa-book" style="margin-right: 8px;"></i>API Documentation
                    </a>
                </div>

                <span class="pull-right"><img src="images/native.png" /></span>

                <div style="clear: both"></div>

            </div>
        </div>
    </div>
</div>



