<div class="">

    <div class="col-md-2 df-sidebar-nav">
        <df-sidebar-nav></df-sidebar-nav>
    </div>
    <div class="col-md-10 df-section"   data-ng-class="df-section-all-round" df-fs-height>

        <div data-ng-repeat="link in links" data-ng-if="activeView.name === link.name" style="height: 100%">
            <div style="height:100%">
                <iframe src="{{ trustUrl(link.href) }}" data-ng-if="link.href" style="padding-bottom: 75px; height: 100%; width: 100%; border: 0px"></iframe>
            </div>
        </div>
    </div>
</div>
