<div id="welcomePage" class="container-fluid">
    <div class="row">

        <div class="second-banner col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
            <div class="row">
                <div class="second-banner-container col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                    <div class="df-mac-preview">
                        <a href="https://youtu.be/FOSOm88RxPw" target="_blank">
                            <div class="df-mac-preview-overlay blured"></div>
                            <div class="df-mac-preview-overlay circle">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </div>
                            <div class="df-mac-preview-overlay text">
                                <div>Watch Video</div>
                            </div>
                        </a>
                        <img src="images/macbook-hp-df-1.png">
                    </div>
                </div>
            </div>

            <div class="bdivider"></div>

            <div class="row">
                <div class="second-banner-container col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                    <h3>Welcome to DreamFactory!</h3>

                    <p>DreamFactory provides all of the backend services that you need to build great mobile, web, and IoT applications. Follow the links below to get started:</p>
                    <div data-ng-init="resources = [
                        {name: 'Getting Started Guide',     icon: 'file-text',       link: 'https://guide.dreamfactory.com'},
                        {name: 'Video Tutorials',           icon: 'video-camera',    link: 'https://wiki.dreamfactory.com/DreamFactory/Videos'},
                        {name: 'Full Documentation',        icon: 'book',            link: 'https://wiki.dreamfactory.com/'},
                        {name: 'Community Forum',           icon: 'comments',        link: 'http://community.dreamfactory.com/'},
                        {name: 'Bugs and Feature Requests', icon: 'bug',             link: 'https://github.com/dreamfactorysoftware/dreamfactory/issues'},
                        {name: 'DreamFactory on Twitter',   icon: 'twitter',         link: 'https://twitter.com/dfsoftwareinc'},
                        {name: 'DreamFactory Blog',         icon: 'pencil-square-o', link: 'https://blog.dreamfactory.com/'},
                        {name: 'Contact Support',           icon: 'support',         link: 'https://www.dreamfactory.com/support'}
                    ]">

                        <div data-ng-repeat="resource in resources">
                            <div class="banner outligned resource-link">
                                <i class="fa fa-{{resource.icon}}" aria-hidden="true"></i>
                                &nbsp;
                                <a href="{{resource.link}}" target="_blank">{{resource.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="first-banner col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
            <div class="row">
                <div class="banner first-banner-container col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                    <div>
                        <h4>
                            <i class="fa fa-heart" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;ATTENTION OSS USERS
                        </h4>
                        <p>
                            Did you know DreamFactory’s commercial solutions include connectors for Microsoft SQL Server, Oracle, SOAP-to-REST, API limiting, ELK stack integration, and much more? Contact Us at sales@dreamfactory.com to arrange a demo with our engineering team!
                        </p>
                    </div>

                </div>
            </div>

            <div class="bdivider"></div>

            <div class="row">
                <div class="banner first-banner-container col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                    <div>
                        <h4>
                            <i class="fa fa-comment" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;WE WANT TO HEAR FROM YOU! 
                        </h4>
                        <p>
                            Has DreamFactory made a difference in your organization?
                            Are you doing something novel and interesting with our software?
                            We’d love to add your story to the Dreamfactory.com user showcase!
                            E-mail us at <b>info@dreamfactory.com</b> with your project details and we’ll add your organization name, URL, and story to our site!
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="row">

        <div class="second-banner col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0 col-lg-12 col-lg-offset-0">
            <div class="row">
                <div class="second-banner-container grid-24 col-sm-10 col-sm-offset-1 col-md-22 col-md-offset-1 col-lg-22 col-lg-offset-1">
                    <div style="overflow: auto">
                        <hr class="content-divider">
                    </div>
                    <div style="overflow: auto">
                        <h4 class="examples-heading">Click on a client platform below to download a sample application and learn how to make API calls:</h4>
                    </div>

                    <p class="examples-subheading">Native Examples</p>
                    <div class="example-item-container" data-ng-init="nativeExamples = [
                    {name: 'Objective-C',    url: 'https://github.com/dreamfactorysoftware/ios-sdk',       icon: 'in_product_apple_lil.png'},
                    {name: 'Apple Swift',    url: 'https://github.com/dreamfactorysoftware/ios-swift-sdk', icon: 'in_product_swift_lil.png'},
                    {name: 'Android Java',   url: 'https://github.com/dreamfactorysoftware/android-sdk',   icon: 'in_product_android_lil.png'},
                    {name: 'Microsoft .NET', url: 'https://github.com/dreamfactorysoftware/.net-sdk',      icon: 'in_product_dotnet_lil.png'}
                ]">

                        <div class="text-center" style="display: inline-block; padding-left: 0px;padding-right: 30px;" data-ng-repeat="example in nativeExamples">
                            <a href="{{example.url}}" target="_blank">
                                <div class="banner outligned example-item">
                                    <img src="images/in-product/{{example.icon}}" alt="{{example.name}}">
                                </div>
                                <div class="text-center example-item-name">
                                    {{example.name}}
                                </div>
                            </a>
                        </div>
                    </div>

                    <p class="examples-subheading">JavaScript Examples</p>
                    <div class="example-item-container" data-ng-init="javascriptExamples = [
                        {name: 'JavaScript', url: 'https://github.com/dreamfactorysoftware/javascript-sdk', icon: 'in_product_javascript_lil.png'},
                        {name: 'Ionic',      url: 'https://github.com/dreamfactorysoftware/ionic-sdk',      icon: 'in_product_ionic_lil.png'},
                        {name: 'Titanium',   url: 'https://github.com/dreamfactorysoftware/titanium-sdk',   icon: 'in_product_titanium_lil.png'},
                        {name: 'AngularJS',  url: 'https://github.com/dreamfactorysoftware/angular-sdk',    icon: 'in_product_angular_lil.svg'},
                        {name: 'Angular 2',  url: 'https://github.com/dreamfactorysoftware/angular2-sdk',   icon: 'in_product_angular2_lil.png'},
                        {name: 'React',      url: 'https://github.com/dreamfactorysoftware/reactjs-sdk',    icon: 'in_product_reactjs_lil.png'}
                    ]">

                        <div class="text-center" style="display: inline-block; padding-left: 0px;padding-right: 30px;" data-ng-repeat="example in javascriptExamples">
                            <a href="{{example.url}}" target="_blank">
                                <div class="banner outligned example-item">
                                    <img src="images/in-product/{{example.icon}}" alt="{{example.name}}">
                                </div>
                                <div class="text-center example-item-name">
                                    {{example.name}}
                                </div>
                            </a>
                        </div>
                    </div>

                    <div style="overflow: auto">
                        <hr class="content-divider">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    if(document.cookie.indexOf('_vis_opt_exp_96_goal_1') != -1) {
        window._vis_opt_queue = window._vis_opt_queue || [];
        window._vis_opt_queue.push(function() {_vis_opt_goal_conversion(207);
        });
    } else if(document.cookie.indexOf('_vis_opt_exp_96_goal_4') != -1) {
        window._vis_opt_queue = window._vis_opt_queue || [];
        window._vis_opt_queue.push(function() {_vis_opt_goal_conversion(207);
        });
    };

    if(document.cookie.indexOf('_vis_opt_exp_96_goal_2') != -1) {
        window._vis_opt_queue = window._vis_opt_queue || [];
        window._vis_opt_queue.push(function() {_vis_opt_goal_conversion(208);
        });
    } else if(document.cookie.indexOf('_vis_opt_exp_96_goal_5') != -1) {
        window._vis_opt_queue = window._vis_opt_queue || [];
        window._vis_opt_queue.push(function() {_vis_opt_goal_conversion(208);
        });
    };

    if(document.cookie.indexOf('_vis_opt_exp_96_goal_3') != -1) {
        window._vis_opt_queue = window._vis_opt_queue || [];
        window._vis_opt_queue.push(function() {_vis_opt_goal_conversion(209);
        });
    } else if(document.cookie.indexOf('_vis_opt_exp_96_goal_6') != -1) {
        window._vis_opt_queue = window._vis_opt_queue || [];
        window._vis_opt_queue.push(function() {_vis_opt_goal_conversion(209);
        });
    };
</script>
