<div>

    <!-- Form Title -->
    <df-details-header data-new="newApp" data-api-name="'Application'" data-name="app.record.name"></df-details-header>

    <!-- Create Application Form -->
    <form name="create-application" data-ng-submit="saveApp()">
        <div>
            <div class="row">
                <div class="col-md-6">
                    <!-- Application Name -->
                    <div class="form-group">
                        <label>Application Name</label><df-simple-help data-options="dfHelp.name"></df-simple-help>
                        <input id="apps_details_name" class="form-control" type="text" data-ng-model="app.record.name" placeholder="" data-ng-required="true"/>
                    </div>

                    <div class="form-group">
                        <label>Description</label><df-simple-help data-options="dfHelp.description"></df-simple-help>
                        <input id="apps_details_description" class="form-control" type="text" data-ng-model="app.record.description" placeholder=""/>
                    </div>

                    <!-- Your Application API Key -->

                    <div class="form-group" data-ng-if="!newApp">
                        <div class="alert alert-info">
                            <p>
                                <i class="fa fa-fw fa-info-circle"></i>
                                The API key for this app is:<br/>
                                <span id="apps_details_apikey">{{app.record.api_key}}</span>&nbsp
                                <i class="fa fa-clipboard" ngclipboard data-clipboard-target="#apps_details_apikey" title="Copy to clipboard"></i>
                            </p>
                        </div>
                    </div>

                    <div class="form-group ng-scope">
                        <div class="checkbox">
                            <label><input id="apps_details_active" data-ng-model="app.record.is_active" type="checkbox">Active</label>
                        </div>
                    </div>

                    <hr />

                    <!-- Application Location -->
                    <div class="form-group">
                        <label>App Location</label><df-simple-help data-options="dfHelp.appLocation"></df-simple-help>
                        <div class="radio" data-ng-repeat="location in locations">
                            <label>
                                <input id="apps_details_type_{{location.value}}" type="radio" data-ng-model="app.record.type" value="{{location.value}}">
                                {{location.label}}
                            </label>
                        </div>
                    </div>

                    <hr />

                    <!-- Application Storage Service -->
                    <div data-ng-if="app.record.type == 1">
                        <!--<df-simple-help data-options="dfHelp.storageAndLaunchpad"></df-simple-help> -->
                        <div class="form-group">
                            <label>Storage Service</label><df-simple-help data-options="dfHelp.storageService"></df-simple-help>
                            <select id="apps_details_storage_service" class="form-control" data-ng-model="app.record.storage_service_id" data-ng-options="service.id as service.label for service in apiData.service"></select>
                        </div>

                        <div class="form-group">
                            <label>Storage Folder</label><df-simple-help data-options="dfHelp.storageContainer"></df-simple-help>
                            <input id="apps_details_storage_folder" class="form-control" type="text" data-ng-model="app.record.storage_container" placeholder="Enter Storage Container" data-ng-required="false"/>
                        </div>

                        <div class="form-group">
                            <label>Launch Path</label><df-simple-help data-options="dfHelp.defaultPath"></df-simple-help>
                            <input id="apps_details_storage_launchpath" class="form-control" type="text" data-ng-model="app.record.path" placeholder="Enter default path and file to launch." />
                        </div>

                        <hr />
                    </div>

                    <!-- Supply URL -->
                    <div data-ng-if="app.record.type == 2">
                        <div class="form-group">
                            <label>URL to Application</label><df-simple-help data-options="dfHelp.remoteUrl"></df-simple-help>
                            <input id="apps_details_remote_url" class="form-control" type="text" data-ng-model="app.record.url" placeholder="Enter full URL e.g. http://www.myserver.com" data-ng-required="true"/>
                        </div>

                        <hr />
                    </div>

                    <!-- Supply Path -->
                    <div data-ng-if="app.record.type == 3">
                        <div class="form-group">
                            <label>Path to Application</label><df-simple-help data-options="dfHelp.defaultPath"></df-simple-help>
                            <input id="apps_details_server_path" class="form-control" type="text" data-ng-model="app.record.path" placeholder="Enter path relative to this web server." data-ng-required="true"/>
                        </div>

                        <hr />
                    </div>

                    <!-- Your Application URL -->

                    <div class="form-group" data-ng-if="app.record.type == 1">
                        <div class="alert alert-info">
                            <p>
                                <i class="fa fa-fw fa-info-circle"></i>
                                The URL for this app is:<br/>
                                <span id="apps_details_storage_app_url">{{currentServer}}/{{selectedStorageService.name}}/{{app.record.storage_container}}/{{app.record.path}}</span>&nbsp
                                <i class="fa fa-clipboard" ngclipboard data-clipboard-target="#apps_details_storage_app_url" title="Copy to clipboard"></i>
                            </p>
                        </div>
                    </div>
                    <div class="form-group" data-ng-if="app.record.type == 3">
                        <div class="alert alert-info">
                            <p>
                                <i class="fa fa-fw fa-info-circle"></i>
                                The URL for this app is:<br/>
                                <span id="apps_details_server_app_url">{{currentServer}}/{{app.record.path}}</span>&nbsp
                                <i class="fa fa-clipboard" ngclipboard data-clipboard-target="#apps_details_server_app_url" title="Copy to clipboard"></i>
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <!-- Assign a Role -->
                    <div class="form-group"> 
                        <label>Assign a Default Role Filter </label>
                        <input class="form-control" ng-model="roleFilter">
                    </div>
                    <div class="form-group">
                        <label>Assign a Default Role</label><df-simple-help data-options="dfHelp.assignRole"></df-simple-help>
                        <select id="apps_details_role" class="form-control" data-ng-model="app.record.role_id" data-ng-options="role.id as role.name for role in apiData.role | filter:{name:roleFilter}">
                            <option value="">-- No Role Selected --</option>
                        </select>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <div class="form-group">
                    <div>
                        <input id="apps_details_save" class="btn btn-default btn-primary" type="submit" value="Save" />
                        <button id="apps_details_cancel" type="button" class="btn btn-default" data-ng-click="cancelEditor()">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
