<div>

    <df-section-header data-title="'Import Application'"></df-section-header>

    <form data-ng-submit="submitApp()" name="uploadForm" class="" >

        <div class="form-group">
            <div class="container-fluid">
                <div class="row row-no-padding">
                    <div class="col-md-12">
                        <p><b>Select App Package File</b></p>
                    </div>
                </div>

                <div class="row row-no-padding">
                    <div class="col-md-8 col-lg-7">
                        <p>Select one of the sample apps below, enter the URL for a package file, or browse for a local package file. Click 'Import' to add the app to your DreamFactory instance.</p>
                    </div>
                </div>

                </br>
                <div class="row row-no-padding">
                    <div class="col-md-5 col-lg-4" style="max-width: 340px" data-ng-repeat="sampleAppsCol in [sampleAppsFirstColumn, sampleAppsSecondColumn]">
                        <p class="form-controls" data-ng-repeat="app in sampleAppsCol">
                            <input type="button"
                                   class="btn btn-default btn-sm"
                                   value="Select"
                                   data-ng-click="loadSampleApp(app)"
                                   onClick="this.blur()"/>
                            <a class="hiperlinkable" href={{app.repo_url}}
                               target = "_blank">&nbsp;{{app.name}}</a> {{app.description}}
                        </p>
                    </div>
                </div>

                <br/>
                <div class="row row-no-padding" style="margin-top: 10px;">
                    <div class="col-md-10 col-lg-8" style="max-width: 680px">
                        <div class="form-controls" >

                            <button class="btn btn-dark"
                                    type="button"
                                    data-ng-click="browseFileSystem()"
                            >
                                Browse
                            </button>

                            &nbsp;

                            <input type="text"
                                   class="form-control"
                                   data-ng-model="appPath"
                                   placeholder=""
                                   style="width: calc(100% - 100px);display: inline-block;"
                            >
                        </div><!-- /input-group -->
                    </div>
                </div>

                <br/>
                <div class="row row-no-padding">
                    <div class="col-md-8 col-lg-7">
                        <hr/>
                    </div>
                </div>

                <br/>
                <div class="row row-no-padding">
                    <div class="col-md-5 col-lg-4" style="max-width: 340px">
                        <div class="form-group">
                            <label>Storage Service (optional)</label>
                            <select class="form-control" data-ng-model="storageService" data-ng-options="obj as obj.name for obj in apiData.service">
                                <option value="" ></option>
                            </select>
                        </div>
                    </div>
                </div>

                <br/>
                <div class="row row-no-padding">
                    <div class="col-md-5 col-lg-4" style="max-width: 340px">
                        <div class="form-group">
                            <label>Storage Folder (optional)</label>
                            <input class="form-control" type="text" data-ng-model="storageContainer" data-ng-required="false" placeholder="Storage Folder"/>
                        </div>
                    </div>
                </div>

                <br/>
                <div class="row row-no-padding">
                    <div class="col-md-5 col-lg-4" style="max-width: 340px">
                        <div class="form-controls">
                            <input style="display: none" type="file" id="upload" name="upload" data-ng-model="uploadFile" data-file-model="uploadFile" file-model-2 />
                            <input type="submit" class="btn btn-default btn-primary" value="Import" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
