<div>

    <df-section-header data-title="'Import Application'"></df-section-header>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form data-ng-submit="submitApp()" name="uploadForm" class="" >

                        <div class="row">
                            <div class="col-lg-12" >
                                <div class="form-group">
                                    <label>Select App Package File</label>
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <p>Select one of the sample apps below, enter the URL for a package file, or browse for a local package file.  Package files are zip files with a .dfpkg extension. Click 'Import' to add the app to your DreamFactory instance.</p>
                                            <p data-ng-repeat="app in sampleApps">
                                                <input type="button"
                                                       class="btn btn-default btn-sm"
                                                       value="Select"
                                                       data-ng-click="loadSampleApp(app)"
                                                       onClick="this.blur()"/>
                                                <a href={{app.repo_url}}
                                                   target = "_blank">&nbsp;{{app.name}}</a> - {{app.description}}
                                            </p>
                                            <div class="input-group" >
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default"
                                                                type="button"
                                                                data-ng-click="browseFileSystem()">Browse</button>
                                                    </span>
                                                <input type="text" class="form-control"
                                                       data-ng-model="appPath"
                                                       placeholder="Select sample app, enter url, or browse for app package.">
                                            </div><!-- /input-group -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6" >
                                <div class="form-group">
                                    <label>Storage Service (optional)</label>
                                    <select class="form-control" data-ng-model="storageService" data-ng-options="obj as obj.name for obj in services" >
                                        <option value="" >-- Select Storage Service --</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6" >
                                <div class="form-group">
                                    <label>Storage Folder (optional)</label>
                                    <input class="form-control" type="text" data-ng-model="storageContainer" placeholder="Enter Storage Folder" data-ng-required="false"/>
                                </div>
                            </div>
                        </div>

                        <input style="display: none" type="file" id="upload" name="upload" data-ng-model="uploadFile" data-file-model="uploadFile" file-model-2 />
                        <input type="submit" class="btn btn-default btn-primary" value="Import" />
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>