<div>
    <div data-ng-hide="currentEditApp">

        <!-- Section  Heading -->
        <df-section-header data-title="'Manage Applications'"></df-section-header>

        <!-- Toolbar -->
        <df-section-toolbar>
            <df-toolbar-view-modes></df-toolbar-view-modes>
            <df-toolbar-paginate data-api="'app'" ></df-toolbar-paginate>
            <div class="btn-group btn-group-sm hidden-xs df-btn-group" data-ng-if="currentViewMode === 'table'">
                <button class="btn btn-default" data-ng-click="deleteSelectedApps()" data-ng-disabled="selectedApps.length === 0" title="Delete selected apps"><i class="fa fa-fw fa-trash"></i></button>
            </div>
            <df-download-sdk data-btn-size="'btn-group-sm'"></df-download-sdk>
            <div style="clear: both"></div>
        </df-section-toolbar>

        <div data-ng-show="apps.length === 0">

            <df-empty-section></df-empty-section>
        </div>

        <div data-ng-show="apps.length > 0">

            <!-- Table View Mode -->
            <div data-ng-if="currentViewMode === 'table'" class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <table class="table table-responsive table-bordered table-striped table-hover table-condensed">
                            <thead>
                            <th></th>
                            <th data-ng-class="order.orderBy === field.name ? 'df-th-selected' : ''"
                                data-ng-click="orderOnSelect(field)"
                                data-ng-repeat="field in fields">

                                <span class="df-th-text" style="white-space: nowrap" >{{field.label}}
                                    <i style="margin-left: 5px;" data-ng-if="order.orderBy === field.name"
                                       class="fa"
                                       data-ng-class="order.orderBy === field.name && order.orderByReverse ? 'fa-caret-down' : 'fa-caret-up'"></i>
                                </span>
                            </th>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="obj in apps | orderObjectBy:order.orderBy:order.orderByReverse" class="repeated-item" data-ng-class="obj.__dfUI.selected ? 'danger' : ''">
                                <td style="width: 80px;">


                                    <div class="btn-group btn-group-xs" >
                                        <div class="" style="margin-right: 5px; display: inline-block; float:left">
                                            <input type="checkbox" data-ng-checked="obj.__dfUI.selected" data-ng-click="setSelected(obj)" />
                                        </div>
                                        <button type="button" class="btn btn-default btn-xs" data-ng-click="deleteApp(obj)" title="Delete app"><i class="fa fa-trash"></i></button>
                                        <button type="button" class="btn btn-default btn-xs" data-ng-click="launchApp(obj)" data-ng-disabled="!obj.record.launch_url" title="Launch app"><i class="fa fa-play"></i></button>

                                        <!-- Export button doesn't exist in previous app.  Remove -->
                                        <!-- <button type="button" class="btn btn-default" data-ng-click="exportApp(obj)" data-ng-disabled="true">Export</button> -->
                                    </div>

                                </td>
                                <td data-ng-click="editApp(obj.record)" data-ng-repeat="value in obj.record | orderAndShowValue : fields track by $index">{{value}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Thumbnail Listing -->
            <div data-ng-if="currentViewMode === 'thumbnails'">
                <div class="row">
                    <div data-ng-repeat="app in apps">
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail df-thumbnail">
                                <!--<img src="admin_components/adf-apps/imgs/default-app-img.png" alt="...">-->

                                <div class="caption">
                                    <div class="row">
                                        <div class="col-xs-12 caption-text" data-ng-click="editApp(app.record)">
                                            <div class="df-thumbnail-title">
                                                <h3>{{app.record.name}}</h3>
                                            </div>
                                            <div class="df-thumbnail-description">
                                                <p>{{app.record.description}}</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="btn-group btn-group-justified df-btn-group-justified">
                                                <div class="btn-group btn-group-sm">
                                                    <button type="button" class="btn btn-default" data-ng-click="launchApp(app)" data-ng-disabled="!app.record.launch_url == 1" title="Launch app"><i class="fa fa-fw fa-play"></i></button>
                                                </div>
                                                <div class="btn-group btn-group-sm ">
                                                    <button type="button" class="btn btn-default" data-ng-click="editApp(app.record)" title="Edit app"><i class="fa fa-fw fa-pencil"></i></button>
                                                </div>
                                                <!--<div class="btn-group btn-group-sm ">-->
                                                <!--<button type="button" class="btn btn-default" data-ng-click="exportApp(app.record)" data-ng-disabled="true">Export</button>-->
                                                <!--</div>-->
                                                <div class="btn-group btn-group-sm ">
                                                    <button type="button" class="btn btn-default" data-ng-click="deleteApp(app)" title="Delete app"><i class="fa fa-fw fa-trash"></i></button>
                                                </div>
                                                <!--<button type="button" class="btn btn-default btn-sm" data-ng-click="quickLook(app)" data-ng-disabled="true">Details</button>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- List View Mode -->
            <div data-ng-if="currentViewMode === 'list'">

                <ul class="list-group">
                    <li class="list-group-item df-list-group-item" data-ng-repeat="app in apps">
                        <div class="row">
                            <div data-ng-click="editApp(app.record)">
                                <div class="col-xs-7">
                                    {{app.record.name}}
                                </div>
                            </div>
                            <div class="col-xs-5">
                                <div class="btn-group btn-group-sm pull-right">
                                    <button type="button" class="btn btn-default" data-ng-click="launchApp(app)" data-ng-disabled="!app.record.launch_url == 1" title="Launch app"><i class="fa fa-fw fa-play"></i></button>
                                    <button type="button" class="btn btn-default" data-ng-click="deleteApp(app)" title="Delete app"><i class="fa fa-fw fa-trash"></i></button>
                                </div>
                            </div>

                        </div>

                    </li>
                </ul>
            </div>
        </div>

    </div>


    <!-- Edit App -->
    <div data-ng-show="currentEditApp">
        <df-app-details data-app-data="currentEditApp" data-new-app="false"></df-app-details>
    </div>

</div>