<div>

    <!-- Section Header -->
    <df-section-header data-title="'Profile'"></df-section-header>

    <form autocomplete="off">

        <div data-ng-if="('user@example.com' === user.email && !bitnami_demo)" class="alert alert-danger">
            <p>To simplify installation, this DreamFactory instance came with a default system administrator account.
                Please secure this instance by updating the email and password for this profile.</p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{ (loginAttribute==='username')? 'Username (Required for login)' : 'Username (Optional, defaults to email address)'}}</label>
                    <input type="text" class="form-control" data-ng-model="user.username" placeholder="Enter username.">
                </div>
                <div class="form-group">
                    <label>{{ (loginAttribute==='username')? 'Email' : 'Email (Required for login)'}}</label>
                    <input type="text" class="form-control" data-ng-model="user.email" placeholder="Enter email address." data-ng-required="true">
                </div>
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" data-ng-model="user.first_name" placeholder="Enter first name.">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" data-ng-model="user.last_name" placeholder="Enter last name.">
                </div>
                <div class="form-group">
                    <label>Display Name</label>
                    <input type="text" class="form-control" data-ng-model="user.name" placeholder="Enter display name." data-ng-required="true">
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input type="tel" class="form-control" data-ng-model="user.phone" placeholder="Enter telephone number." >
                </div>
            </div>
            <div class="col-md-6">
                <df-set-security-question></df-set-security-question>
                <hr />
                <df-set-user-password></df-set-user-password>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary" data-ng-click="updateUser()">Save</button>
            </div>
        </div>
    </form>
</div>
