<div>

    <!-- Section Header -->
    <df-section-header data-title="'Profile'"></df-section-header>


    <form data-ng-submit="updateProfile()" autocomplete="off">

        <!--<df-section-toolbar>
            <df-toolbar-help></df-toolbar-help>
            <div class="btn-group btn-group-sm pull-right">
                <button type="submit" class="btn btn-default">Update</button>
            </div>
        </df-section-toolbar>-->

        <div data-ng-if="'user@example.com' === user.record.email" class="alert alert-danger">
            <p>To simplify installation, this DreamFactory instance came with a default system administrator account.
                Please secure this instance by updating the email and password for this profile.</p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" data-ng-model="user.record.first_name" placeholder="Enter first name.">
                </div>

                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" data-ng-model="user.record.last_name" placeholder="Enter last name.">
                </div>

                <div class="form-group">
                    <label>Display Name</label>
                    <input type="text" class="form-control" data-ng-model="user.record.name" placeholder="Enter display name." data-ng-required="true">
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" data-ng-model="user.record.email" placeholder="Enter email address." data-ng-required="true">
                </div>

                <div class="form-group">
                    <label>Phone</label>
                    <input type="tel" class="form-control" data-ng-model="user.record.phone" placeholder="Enter telephone number." >
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <label>Default App</label>
                    <select class="form-control" data-ng-model="user.record.default_app_id" data-ng-options="app.id as app.name for app in apps">
                        <option value="">-- Select a Default App --</option>
                    </select>
                    <hr />
                </div>

                <df-set-security-question></df-set-security-question>
                <hr />
                <df-set-user-password></df-set-user-password>




            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary" data-ng-click="updateUser()">Update</button>
            </div>
        </div>
    </form>
</div>