
.df-top-navbar {

  margin-bottom: 0;
  border: none;


  .navbar-brand {

    padding-left: 15px;
    padding-top: 4px;
  }


  .df-navbar-nav {

    .notification-item:hover {
      text-decoration: underline;
    }

    .notification-item {
      border-bottom: 1px solid #999999;;
    }

    .notification-item:last-child {
      border-bottom: none;
    }

    .notify:after{
      position: absolute;
      top: 21%;
      content: '';
      padding: .25em;
      border-radius: 50%;
      background: red;
    }

    li {

      a {}
    }


    li:hover {

      a {}
    }
  }
}