
.df-top-navbar {

  margin-bottom: 0;
  border: none;


  .navbar-brand {

    padding-left: 15px;
    padding-top: 4px;
  }


  .df-navbar-nav {

    li {

      a {}
    }


    li:hover {

      a {}
    }
  }
}