.highlighted-element {
  position: relative;
  z-index: 1102!important;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}

.tutorial-disabled-button {
  background: #e5e5e5 !important;
  color: rgba(0, 0, 0, 0.75) !important;
  pointer-events: none !important;
}

body.shepherd-active::after {
  content: "";
  display: block;
  background-color: #000;
  opacity: 0.4;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1100;
}

.shepherd-element {
  z-index: 1101;
}