

/**** SCRIPTING BREADCRUMB NAV ****/

#scripting-bc-nav.breadcrumb > li + li:before{
  content: ">"
}


.scripting-list-group > a {
  border: 1px solid #ddd;
  display: block;
  margin-bottom: -1px;
  padding: 10px 15px;
  position: relative;
  color: #555 !important;
  text-decoration: none;
  background: white;
}

.scripting-list-group > a > i {

  padding-top:5px;
}

.scripting-list-group > a.highlighted {
  background: #fcf8e3;
}

.scripting-list-group > a:hover {

  // background:white !important;
  background: $gray-lighter;
}


.scripting-list-group > span > a {

  border: 1px solid #ddd;
  display: block;
  margin-bottom: -1px;
  padding: 10px 15px;
  position: relative;
  color: #555;
  text-decoration: none;
  background: white;

}


.scripting-list-group > span > a:hover {

  background: $gray-lighter;
}


.scripting-list-group > span:first-child > a {

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.scripting-list-group > span:first-child > a.highlighted {
    background: #fcf8e3;
}


.scripting-list-group > span:last-child > a{

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom: 0;

}