//== DreamFactory Component Navbar
//
//##

//** Component navbar padding
$component-navbar-padding: 0;


//** Padding for sm pills
$component-pills-sm-padding: 9px;

//** Font size for sm pills
$component-pills-sm-font-size: 14px;

//** Component Navbar Title
$component-navbar-title-margin: 0;
$component-navbar-title-md-font-size: 30px;
$component-navbar-title-sm-margin: auto auto auto 45px;


/* these are df required values. they override bootswatch values*/
$navbar-height:         50px;
$navbar-default-bg:     #222;



