<div class="row">
    <div class="form-group col-md-6">
        <label>Service Type</label>
        <df-simple-help data-options="dfSimpleHelp.serviceType"></df-simple-help><br/>

        <div class="dropdown df-inputs-row" data-ng-if="newService">
            <button id="services_info_type" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                {{selectedSchema.label || 'Select Service Type'}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown-submenu" ng-repeat="service in serviceTypes">
                    <a id="services_info_type_{{$index}}" class="sub" tabindex="-1">{{service.group_name}}</a>
                    <ul class="dropdown-menu {{service.group_types.length > serviceTypesSingleColLimit ? 'dropdown-menu-2' : ''}}">
                        <li data-ng-repeat="type in service.group_types">
                            <a href="" id="services_info_type_select_{{type.name}}" data-ng-click="changeServiceType(type.name)">{{type.label}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="form-group df-inputs-row" data-ng-if="!newService">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled="disabled">
                {{selectedSchema.label}}    <span class="caret"></span>
            </button>
        </div>

        <div class="form-group df-inputs-row" data-ng-if="selectedSchema && selectedSchema.config_schema">
            <br/>
            <label>Namespace</label>
            <df-simple-help data-options="dfSimpleHelp.name"></df-simple-help>
            <input id="services_info_name" class="form-control" data-ng-model="serviceInfo.name" ng-blur="validateServiceName()" type="text" style="">
        </div>

        <div class="form-group df-inputs-row" data-ng-if="selectedSchema && selectedSchema.config_schema">
            <label>Label</label>
            <df-simple-help data-options="dfSimpleHelp.label"></df-simple-help>
            <input id="services_info_label" class="form-control" data-ng-model="serviceInfo.label" type="text" style="">
        </div>

        <div class="form-group df-inputs-row" data-ng-if="selectedSchema && selectedSchema.config_schema">
            <label>Description</label>
            <df-simple-help data-options="dfSimpleHelp.description"></df-simple-help>
            <input id="services_info_description" class="form-control" data-ng-model="serviceInfo.description" type="text">
        </div>

        <div class="form-group ng-scope" data-ng-if="selectedSchema && selectedSchema.config_schema">
            <div class="checkbox">
                <label><input id="services_info_active" data-ng-model="serviceInfo.is_active" type="checkbox">Active</label>
            </div>
        </div>
    </div>

    <div data-ng-if="!newService" class="col-md-6">
        <h3>Quick Links</h3>
        <ul>
            <li>
                <a ng-click="goToSelectedServiceScripts(serviceInfo)" style="cursor: pointer;">Scripted Endpoints associated with {{ serviceInfo.name }}</a>
            </li>
            <li>
                <a style="cursor: pointer;">{{ serviceInfo.name }} API Docs (Doesnt work)</a>
            </li>
        </ul>
        
        <div ng-if="!$root.dataLoading">
            <h4>Roles Associated with this Service</h4>
            <div ng-if="$root.relatedRoles.length != 0">
                <ul>
                    <li ng-repeat="role in $root.relatedRoles">
                      <a style="cursor: pointer;">{{ role.name }}</a>
                    </li>
                </ul>
            </div>
            <div ng-if="$root.relatedRoles.length === 0">
                <p>You haven't assigned any roles to this service.</p>
                <a href="">Click here to create one!</a>
            </div>
        </div>
    </div>           
</div>

