<div>

    <div class="form-group" data-ng-repeat="field in selectedSchema.config_schema">
        <label>{{ field.label }}</label>

        <div class="panel panel-default" ng-if="field.type === 'array(string)'">
            <table class="table table-hover table-striped field-list">
                <thead>
                <tr>
                    <th>{{ field.name }}</th>

                    <th class="no-border">
                        <div class="btn-group pull-left">
                            <button type="button" class="btn btn-default btn-sm"
                                    data-ng-click="addStringInArray(serviceInfo.record.config, field.name)" title="Add">
                                <i class="fa fa-plus fa-fw"></i>
                            </button>
                        </div>
                    </th>
                </tr>
                </thead>

                <tbody>

                <tr data-ng-repeat="str in serviceInfo.record.config[field.name] track by $index">
                    <td>
                        <input class="form-control" ng-model="serviceInfo.record.config[value.name][$index]"
                               type="text"/>
                    </td>

                    <td class="no-border">
                        <div class="btn-group pull-left">
                            <button type="button" class="btn btn-sm btn-default"
                                    data-ng-click="deleteKeyValue(serviceInfo.record.config[field.name], $index)"
                                    title="Delete">
                                <i class="fa fa-trash-o fa-fw"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="panel panel-default" ng-if="field.type === 'object(string,string)'">
            <table class="table table-hover table-striped field-list">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>


                    <th class="no-border">
                        <div class="btn-group pull-left">
                            <button type="button" class="btn btn-default btn-sm"
                                    data-ng-click="addKeyValue(serviceInfo.record.config, field.name)">
                                <i class="fa fa-plus fa-fw"></i>
                            </button>
                        </div>
                    </th>
                </tr>
                </thead>

                <tbody>

                <tr data-ng-repeat="obj in serviceInfo.record.config[field.name] track by $index">
                    <td>
                        <input class="form-control" data-ng-model="obj.key" type="text"/>
                    </td>
                    <td>
                        <input class="form-control" data-ng-model="obj.value" type="text"/>
                    </td>

                    <td class="no-border">
                        <div class="btn-group pull-left">
                            <button type="button" class="btn btn-sm btn-default"
                                    data-ng-click="deleteKeyValue(serviceInfo.record.config[field.name], $index)">
                                <i class="fa fa-trash-o fa-fw"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <input class="form-control" ng-if="field.type == 'string'" ng-model="serviceInfo.record.config[field.name]"
               type="text" ng-required="field.required"/>
        <input class="form-control" ng-if="field.type == 'password'" ng-model="serviceInfo.record.config[field.name]"
               type="password" ng-required="field.required"/>
        <input class="form-control" ng-if="field.type == 'text'" ng-model="serviceInfo.record.config[field.name]"
               type="text" ng-required="field.required"/>
        <input class="form-control" ng-if="field.type === 'boolean'" type="checkbox"
               ng-model="serviceInfo.record.config[field.name]">
        <input class="form-control" ng-if="field.type === 'integer'" type="number"
               ng-model="serviceInfo.record.config[field.name]" ng-required="field.required">

        <select class="form-control"
                ng-if="field.type === 'dropdown'"
                ng-model="serviceInfo.record.config[field.name]"
                ng-options="option.value as option.name for option in field.options">
        </select>
    </div>
</div>
