
<div class="form-group">
    <label>Service Type</label>
    <df-simple-help data-options="dfSimpleHelp.serviceType"></df-simple-help><br/>
    <div class="btn-group" data-ng-if="newService">
        <button type="button" data-ng-model="serviceInfo.record.type" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{selectedSchema.label || 'Service Type Select'}}    <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" >
            <li class="dropdown-submenu" ng-repeat="group in serviceGroups">
                <a tabindex="-1">{{group}}</a>
                <ul class="dropdown-menu">
                    <li data-ng-repeat="groupmember in hcv.serviceTypes | filter:{group:group} | orderBy:'label'">
                        <a href="" data-ng-click="$parent.$parent.serviceInfo.record.type = groupmember.name; changeServiceType()">{{groupmember.label}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="btn-group" data-ng-if="!newService">
        <button type="button" data-ng-model="serviceInfo.record.type" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled="disabled">
            {{selectedSchema.label}}    <span class="caret"></span>
        </button>
    </div>

    <div class="form-group" data-ng-if="selectedSchema.config_schema != null">
        <br/>
        <label>Name</label>
        <df-simple-help data-options="dfSimpleHelp.name"></df-simple-help>
        <input class="form-control" data-ng-model="serviceInfo.record.name" type="text" required="" style="">
    </div>

    <div class="form-group" data-ng-if="selectedSchema.config_schema != null">
        <label>Label</label>
        <df-simple-help data-options="dfSimpleHelp.label"></df-simple-help>
        <input class="form-control" data-ng-model="serviceInfo.record.label" type="text" required="" style="">
    </div>

    <div class="form-group" data-ng-if="selectedSchema.config_schema != null">
        <label>Description</label>
        <df-simple-help data-options="dfSimpleHelp.description"></df-simple-help>
        <input class="form-control" data-ng-model="serviceInfo.record.description" type="text">
    </div>

    <div class="form-group ng-scope" data-ng-if="selectedSchema.config_schema != null">
        <div class="checkbox">
            <label><input data-ng-model="serviceInfo.record.is_active" type="checkbox">Active</label>
        </div>
    </div>

    <div data-ng-if="selectedSchema.subscription_required">
        <br/><h4>This feature requires a product subscription.</h4> Email dspsales@dreamfactory.com or call +1-650-641-1800 for pricing information.
    </div>
</div>