<div>
    <div ng-if="selectedSchema.name === 'mysql'" ng-include="'admin_components/adf-services/views/df-service-mysql.html'"></div>
    <div ng-if="selectedSchema.name === 'sqlsrv'" ng-include="'admin_components/adf-services/views/df-service-sqlsrv.html'"></div>
    <div ng-if="selectedSchema.name === 'oracle'" ng-include="'admin_components/adf-services/views/df-service-oracle.html'"></div>
    <div ng-if="selectedSchema.name === 'pgsql'" ng-include="'admin_components/adf-services/views/df-service-pgsql.html'"></div>
    <div ng-if="selectedSchema.name != 'mysql' && selectedSchema.name != 'sqlsrv' && selectedSchema.name != 'oracle' && selectedSchema.name != 'pgsql'" class="form-group" data-ng-repeat="field in selectedSchema.config_schema" ng-include="'admin_components/adf-services/views/df-service-config-fields.html'"></div>
</div>

<df-github-modal editor-obj="serviceConfigEditorObj"
                 accept="allowedConfigGitFormats"
                 target="serviceConfigGitHubTarget">
</df-github-modal>
