<div>

    <!-- Form Title -->
    <df-details-header data-new="newService" data-api-name="'Service'" data-name="service.record.name"></df-details-header>


    <form data-ng-submit="saveService()" autocomplete="off">

        <ul class="nav nav-tabs" data-role="tablist">
            <li class="active"><a showtab href="#info" id="info-tab">Info</a></li>
            <li data-ng-if="tabs.parameters"><a showtab href="#parameters" id="parameters-tab">Parameters</a></li>
            <li data-ng-if="tabs.headers"><a showtab href="#headers" id="headers-tab">Headers</a></li>
            <li data-ng-if="tabs.privates"><a showtab href="#private-folder-files" id="privates-tab">Private Folders and Files</a></li>
            <li data-ng-if="tabs.serviceDef"><a showtab href="#service-definition" id="service-definition-tab">Service Definition</a></li>

        </ul>

        <div class="tab-content" style="margin-top: 20px">
            <div id="info" class="tab-pane active">
                <df-large-help data-options="dfLargeHelp.basic"></df-large-help>
               <df-service-info></df-service-info>
            </div>
            <div id="parameters" class="tab-pane">
                <df-large-help data-options="dfLargeHelp.parameters"></df-large-help>
                <df-service-params></df-service-params>
            </div>
            <div id="headers" class="tab-pane">
                <df-large-help data-options="dfLargeHelp.headers"></df-large-help>
                <df-service-headers></df-service-headers>
            </div>
            <div id="private-folder-files" class="tab-pane">
                <df-large-help data-options="dfLargeHelp.privates"></df-large-help>
                <df-service-privates></df-service-privates>
            </div>
           <div id="service-definition" class="tab-pane">
                <df-large-help data-options="dfLargeHelp.serviceDef"></df-large-help>
                <df-service-definition></df-service-definition>
            </div>
        </div><!-- /.tab-content -->



        <div class="form-group">
            <div data-ng-if="newService">
                <input class="btn btn-default btn-primary" type="submit" value="Create Service" />
            </div>
            <div data-ng-if="!newService">
                <input class="btn btn-default btn-primary" type="submit" value="Update Service" />
                <button type="button" class="btn btn-default" data-ng-click="closeService()">Close</button>
            </div>
        </div>
    </form>
</div>