<div>

    <div class="form-group">
        <label>Service Type</label>
        <df-simple-help data-options="dfSimpleHelp.serviceType"></df-simple-help>
        <select class="form-control" data-ng-model="serviceInfo.record.type" data-ng-disabled="!newService"
                data-ng-options="type.name as type.label group by type.group for type in hcv.serviceTypes"
                data-ng-change="changeServiceType()" required>
        </select>
    </div>

    <div class="form-group">
        <label>Name</label>
        <df-simple-help data-options="dfSimpleHelp.name"></df-simple-help>
        <input class="form-control" data-ng-model="serviceInfo.record.name" type="text" required="" style="">
    </div>

    <div class="form-group">
        <label>Label</label>
        <df-simple-help data-options="dfSimpleHelp.label"></df-simple-help>
        <input class="form-control" data-ng-model="serviceInfo.record.label" type="text" required="" style="">
    </div>

    <div class="form-group">
        <label>Description</label>
        <df-simple-help data-options="dfSimpleHelp.description"></df-simple-help>
        <input class="form-control" data-ng-model="serviceInfo.record.description" type="text">
    </div>

    <div class="form-group ng-scope">
        <div class="checkbox">
            <label><input data-ng-model="serviceInfo.record.is_active" type="checkbox">Active</label>
        </div>
    </div>

</div>