
<div class="panel panel-default">
    <div class="panel-heading">
        Additional Parameters
    </div>
    <table class="table table-hover table-striped field-list">
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>To Outbound</th>
            <th>to Caching Key</th>


            <th class="no-border">
                <div class="btn-group pull-left">
                    <button type="button" class="btn btn-default btn-sm" data-ng-click="addParameter()" title="Add parameter">
                        <i class="fa fa-plus fa-fw"></i>
                    </button>
                </div>
            </th>
        </tr>
        </thead>

        <tbody>

        <tr data-ng-repeat="param in params track by $index">
            <td>
                <input class="form-control" data-ng-model="param.name" type="text" />
            </td>
            <td>
                <input class="form-control" data-ng-model="param.value" type="text" />
            </td>
            <td style="vertical-align: middle; text-align: center;">
                <input data-ng-model="param.outbound" type="checkbox" />
            </td>
            <td style="vertical-align: middle; text-align: center;">
                <input data-ng-model="param.cache_key" type="checkbox" />
            </td>

            <td class="no-border">
                <div class="btn-group pull-left">
                    <button type="button" class="btn btn-sm btn-default" data-ng-click="deleteParameter($index)" title="Delete parameter">
                        <i class="fa fa-trash-o fa-fw"></i>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>


<div class="panel panel-default">
    <div class="panel-heading">
        Exclude Client Parameters
    </div>
    <table class="table table-hover table-striped field-list">
        <thead>
        <tr>
            <th>Name</th>
            <th>From Outbound</th>
            <th>From Caching Key</th>


            <th class="no-border">
                <div class="btn-group pull-left">
                    <button type="button" class="btn btn-default btn-sm" data-ng-click="addClientParameter()" title="Add client parameter">
                        <i class="fa fa-plus fa-fw"></i>
                    </button>
                </div>
            </th>
        </tr>
        </thead>

        <tbody>

        <tr data-ng-repeat="param in excludeParams track by $index">
            <td>
                <input class="form-control" data-ng-model="param.name" type="text" />
            </td>
            <td style="vertical-align: middle; text-align: center;">

                <input data-ng-model="param.outbound" type="checkbox" />

            </td>
            <td style="vertical-align: middle; text-align: center;">

                <input data-ng-model="param.cache_key" type="checkbox" />

            </td>

            <td class="no-border">
                <div class="btn-group pull-left">
                    <button type="button" class="btn btn-sm btn-default" data-ng-click="deleteClientParameter($index)" title="Delete client parameter">
                        <i class="fa fa-trash-o fa-fw"></i>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

