<div>
    <div class="alert alert-info" ng-show="selectedSchema && selectedSchema.available && apiData.environment.server.ip">
        <li class="fa fa-info-circle"></li>
        The IP address for your DreamFactory instance is <strong>{{ apiData.environment.server.ip }}</strong>. If you have trouble accessing your service through DreamFactory make sure the service allows connections from this IP address.
    </div>

    <div class="form-group" data-ng-repeat="field in selectedSchema.config_schema">

        <div class="form-group ng-scope" data-ng-if="field.type == 'boolean'">
            <div class="checkbox">
                <label>
                    <input id="services_details_config_checkbox_{{$index}}" data-ng-model="serviceConfig[field.name]" type="checkbox">
                    {{ field.label }}
                </label>
                <df-simple-help data-options="field"></df-simple-help>
            </div>
        </div>

        <div class="form-group ng-scope" data-ng-if="field.name === 'storage_container'">
            <div class="form-group">
                <label>Storage Service </label>
                <select id="selected_storage_service" class="input-sm"
                        data-ng-model="selections.service"
                        data-ng-options="item as item.label for item in apiData['storage_service_link'] track by item.id"
                        data-ng-change="resetServiceLink()">
                    <option value="">-- None --</option>
                </select>
            </div>
            <div class="form-group" ng-show="selections.service">
                <label>Storage Container Path </label>
                <input id="selected_service__container_path" class="form-inline input-sm"
                       data-ng-model="serviceConfig.storage_container"/>
            </div>
            <div ng-show="selections.service">
                <label>Upload a spreadsheet </label>
                <div class="form-inline">
                    <div class="input-group">
					<span class="input-group-btn">
						<button class="btn btn-default"
                                type="button"
                                data-ng-click="browseFileSystem()"
                        >
                            Browse
                        </button>
					</span>
                        <input type="text" size="80" class="form-control" data-ng-model="spreadsheetUploadPath" placeholder="Choose a spreadsheet" readonly>
                    </div>
                    <input style="display: none;"
                           type="file"
                           class="btn btn-default"
                           id="spreadsheetSelect"
                           data-ng-model="uploadSpreadsheet"
                           data-file-model="uploadSpreadsheet"
                           file-model-2
                    />
                    <span class="form-controls">
                        <button data-ng-show="spreadsheetUploadPath" type="button" class="btn btn-default btn-primary save-service-btn ng-scope" data-ng-click="handleSpreadsheet()">Upload Spreadsheet</button>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group ng-scope" data-ng-if="field.type != 'boolean' && field.name !== 'storage_service_id' && field.name !== 'storage_path' && field.name !== 'storage_container' && field.name !== 'scm_reference' && field.name !== 'scm_repository'">
            <label>{{ field.label }}</label>
            <df-simple-help data-options="field" data-ng-if="field.description"></df-simple-help>

            <div data-ng-if="field.type == 'text' && field.name == 'content'">
                <label>Import a script file</label>
                <div>
                  <label class="btn btn-default btn-file btn-sm" ng-disabled="selections.service">
                      Select Desktop File... <input ng-disabled="selections.service" type="file" id="services_details_config_filepick_{{$index}}"  style="display: none;" accept="{{allowedConfigFormats}}" onclick="this.value = null;" onchange="angular.element(this).scope().handleFiles(this)" ng-model="filename">
                  </label>
                  <button type="button" ng-disabled="selections.service" id="services_details_config_file_{{$index}}"  class="btn btn-default btn-sm" onclick="angular.element(this).scope().githubModalShowConfig()">Select GitHub File...</button>
                </div>
                <label>Link to a service</label>
                <div>
                    <span>Service: </span>
                    <select id="selected_service" class="input-sm"
                            data-ng-model="selections.service"
                            data-ng-options="item as item.label for item in apiData['service_link'] track by item.id"
                            data-ng-change="resetServiceLink()">
                        <option value="">-- None --</option>
                    </select>
                    <span class="form-group" ng-show="selections.service && (selections.service.type === 'github' || selections.service.type === 'gitlab' || selections.service.type === 'bitbucket')">
                        <span>Repository: </span>
                        <input size="10" id="selected_service_repo" class="form-inline input-sm" data-ng-model="serviceConfig.scm_repository" />
                    </span>
                    <span class="form-group" ng-show="selections.service && (selections.service.type === 'github' || selections.service.type === 'gitlab' || selections.service.type === 'bitbucket')">
                        <span>Branch/Tag: </span>
                        <input size="10" id="selected_service_ref" class="form-inline input-sm" data-ng-model="serviceConfig.scm_reference" />
                    </span>
                    <span class="form-group" ng-show="selections.service">
                        <span>Path: </span>
                        <input id="selected_service_path" class="form-inline input-sm" data-ng-model="serviceConfig.storage_path" />
                    </span>
                    <button type="button" class="btn btn-sm btn-primary"
                            data-ng-show="selections.service"
                            data-ng-click="pullLatestScript()"
                            data-ng-disabled="disableServiceLinkRefresh">
                        <i class="fa fa-refresh"></i> View Latest
                    </button>
                    <button type="button" class="btn btn-sm btn-primary"
                            data-ng-show="selections.service"
                            data-ng-click="deleteScriptFromCache()"
                            data-ng-disabled="disableServiceLinkRefresh">
                        <i class="fa fa-refresh"></i> Delete Cache
                    </button>
                </div>
            </div>
        </div>

        <input class="form-control" data-ng-if="field.type == 'string' && field.name !== 'storage_path' && field.name !== 'storage_container' && field.name !== 'scm_reference' && field.name !== 'scm_repository'"
               id="services_details_config_string_{{$index}}"
               data-ng-model="serviceConfig[field.name]"
               type="text" data-ng-required="field.required"/>

        <input class="form-control" data-ng-if="field.type == 'password' || field.name == 'password'"
               id="services_details_config_password_{{$index}}"
               data-ng-model="serviceConfig[field.name]"
               type="password" data-ng-required="field.required"/>

        <input class="form-control" data-ng-if="field.type == 'text' && field.name !== 'content' && field.name !== 'password'"
               id="services_details_config_text_{{$index}}"
               data-ng-model="serviceConfig[field.name]"
               type="text" data-ng-required="field.required"/>

        <df-ace-editor data-ng-if="field.type == 'text' && field.name == 'content'"
                       data-input-type="'string'"
                       data-input-content="serviceConfig[field.name]"
                       data-input-update="serviceConfigUpdateCounter"
                       data-input-format="serviceInfo.type"
                       data-is-editable="isServiceConfigEditable"
                       data-editor-obj="serviceConfigEditorObj"
                       data-target-div="'serviceConfig'">
        </df-ace-editor>

        <input class="form-control" data-ng-if="field.type == 'integer' && field.name !== 'storage_service_id'"
               id="services_details_config_integer_{{$index}}"
               data-ng-model="serviceConfig[field.name]"
               type="number" data-ng-required="field.required">

        <select class="form-control" data-ng-if="field.type == 'picklist'"
                id="services_details_config_picklist_{{$index}}"
                data-ng-model="serviceConfig[field.name]"
                data-ng-options="option.name as option.label for option in field.values"
                data-ng-change="updateAffectedFields(serviceConfig[field.name], field)">
        </select>

        <select class="form-control" data-ng-if="field.type == 'reference'"
                id="services_details_config_reference_{{$index}}"
                data-ng-model="serviceConfig[field.name]"
                data-ng-options="option.value as option.name for option in getReferences(field.ref_table, field.ref_field)"
                data-ng-change="updateAffectedFields(serviceConfig[field.name], field)">
        </select>

        <df-file-certificate data-ng-if="field.type == 'file_certificate'"
                             data-selected="serviceConfig[field.name]">
        </df-file-certificate>

        <df-multi-picklist data-ng-if="field.type == 'multi_picklist'"
                           data-options="field.values"
                           data-selected-options="serviceConfig[field.name]"
                           data-cols="field.columns"
                           data-legend="field.legend">
        </df-multi-picklist>

        <div class="panel panel-default" data-ng-if="field.type.indexOf('array') > -1">
            <div class="form-group" data-ng-if="!isArray(field.items)">
                <table class="table table-hover table-striped field-list table-rows-extendable">
                    <thead>
                        <tr>
                            <th>
                                <div>Values</div>
                            </th>

                            <th>
                                <i class="fa fa-trash-o fa-fw"></i>
                            </th>

                            <th class="no-border">
                                <div>
                                    <div class="btn-group">
                                        <button
                                            type="button"
                                            id="services_details_config_array_item_add_{{$index}}"
                                            class="btn btn-default btn-sm"
                                            data-ng-click="appendItemToArray(serviceConfig, field.name)"
                                            title="Add"
                                        >
                                            <i class="fa fa-plus fa-fw"></i>
                                        </button>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>

                    <tbody class="tbody-transparent">
                        <tr data-ng-repeat="str in serviceConfig[field.name] track by $index">
                            <td>
                                <div class="cell-content input-cell">
                                    <div>
                                        <input
                                            class="form-control"
                                            data-ng-model="serviceConfig[field.name][$index]"
                                            id="services_details_config_array_item_value_{{$parent.$index}}_{{$index}}"
                                            type="text"
                                        />
                                    </div>
                                </div>
                            </td>

                            <td class="no-border">
                                <div class="cell-content icon-cell">
                                    <div>
                                        <div class="btn-group">
                                            <button
                                                    type="button"
                                                    class="btn btn-default"
                                                    data-ng-click="deleteStringFromArray(serviceConfig[field.name], $index)"
                                                    id="services_details_config_array_item_removevalue_{{$parent.$index}}_{{$index}}"
                                                    title="Delete"
                                            >
                                                <i class="fa fa-trash-o fa-fw"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td>
                                <div class="cell-content"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group" data-ng-if="isArray(field.items)">
                <table class="table table-hover table-striped field-list table-rows-extendable">
                    <thead>
                        <tr>
                            <th data-ng-repeat="part in field.items">
                                <div>
                                    {{ part.label }}
                                </div>
                            </th>

                            <th>
                                <i class="fa fa-trash-o fa-fw"></i>
                            </th>

                            <th class="no-border">
                                <div class="btn-group">
                                    <button
                                        type="button"
                                        class="btn btn-default btn-sm"
                                        id="services_details_config_array_arrayitem_add_{{$index}}"
                                        data-ng-click="appendItemToArray(serviceConfig, field.name)"
                                        title="Add"
                                    >

                                        <i class="fa fa-plus fa-fw"></i>
                                    </button>
                                </div>
                            </th>
                        </tr>
                    </thead>

                    <tbody class="tbody-transparent">
                        <tr data-ng-repeat="obj in serviceConfig[field.name] track by $index">
                            <td data-ng-repeat="part in field.items">
                                <div class="cell-content input-cell">
                                    <div>
                                        <input class="form-control" data-ng-if="part.type == 'string'"
                                               id="services_details_config_array_arrayitem_string_{{$parent.$index}}_{{$index}}"
                                               data-ng-model="serviceConfig[field.name][$parent.$parent.$index][part.name]"
                                               type="text" data-ng-required="part.required">
                                        <input class="form-control" data-ng-if="part.type == 'password'"
                                               id="services_details_config_array_arrayitem_password_{{$parent.$index}}_{{$index}}"
                                               data-ng-model="serviceConfig[field.name][$parent.$parent.$index][part.name]"
                                               type="password" data-ng-required="part.required">
                                        <input class="form-control" data-ng-if="part.type == 'text'"
                                               id="services_details_config_array_arrayitem_text_{{$parent.$index}}_{{$index}}"
                                               data-ng-model="serviceConfig[field.name][$parent.$parent.$index][part.name]"
                                               type="text" data-ng-required="part.required">
                                        <input class="checkbox" data-ng-if="part.type == 'boolean'"
                                               id="services_details_config_array_arrayitem_boolean_{{$parent.$index}}_{{$index}}"
                                               data-ng-model="serviceConfig[field.name][$parent.$parent.$index][part.name]"
                                               type="checkbox" style="margin-top: 13px">
                                        <input class="form-control" data-ng-if="part.type == 'integer'"
                                               id="services_details_config_array_arrayitem_integer_{{$parent.$index}}_{{$index}}"
                                               data-ng-model="serviceConfig[field.name][$parent.$parent.$index][part.name]"
                                               type="number" data-ng-required="part.required">

                                        <select class="form-control" data-ng-if="part.type == 'picklist'"
                                                id="services_details_config_array_arrayitem_picklist_{{$parent.$index}}_{{$index}}"
                                                data-ng-model="serviceConfig[field.name][$parent.$parent.$index][part.name]"
                                                data-ng-options="option.name as option.label for option in part.values"
                                                data-ng-click="updateAffectedFields(serviceConfig[field.name], field)">
                                        </select>

                                        <df-grouped-picklist data-ng-if="part.type == 'grouped_picklist'"
                                                             data-options="part.values"
                                                             data-selected="serviceConfig[field.name][$parent.$parent.$index][part.name]">
                                        </df-grouped-picklist>

                                        <df-event-picker data-ng-if="part.type == 'event_picklist'"
                                                         data-options="eventList"
                                                         data-selected="serviceConfig[field.name][$parent.$parent.$index][part.name]">
                                        </df-event-picker>

                                        <df-verb-picker data-ng-if="part.type == 'verb_mask'"
                                                        data-allowed-verb-mask="serviceConfig[field.name][$parent.$parent.$index][part.name]"
                                                        data-size="">
                                        </df-verb-picker>
                                    </div>
                                </div>
                            </td>

                            <td class="no-border">
                                <div class="cell-content icon-cell">
                                    <div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default"
                                                    data-ng-click="deleteObjectFromArray(serviceConfig[field.name], $index)"
                                                    id="services_details_config_array_arrayitem_remove_{{$parent.$index}}_{{$index}}"
                                                    title="Delete">
                                                <i class="fa fa-trash-o fa-fw"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td>
                                <div class="cell-content"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default" data-ng-if="field.type.indexOf('object') > -1">
            <table class="table table-hover table-striped field-list table-rows-extendable">
                <thead>
                    <tr>
                        <th><div>{{ field.object.key.label }}</div></th>
                        <th><div>{{ field.object.value.label }}</div></th>
                        <th>
                            <i class="fa fa-trash-o fa-fw"></i>
                        </th>

                        <th>
                            <div class="btn-group">
                                <button
                                    type="button"
                                    id="services_details_config_object_add_{{$index}}"
                                    class="btn btn-default btn-sm"
                                    data-ng-click="addKeyValue(field.name)"
                                    title="Add lookup key"
                                >
                                    <i class="fa fa-plus fa-fw"></i>
                                </button>
                            </div>
                        </th>
                    </tr>
                </thead>

                <tbody class="tbody-transparent">
                    <tr data-ng-repeat="item in serviceConfig[field.name]">
                        <td>
                            <div class="cell-content input-cell">
                                <div>
                                    <input id="services_details_config_object_key_{{$parent.$index}}_{{$index}}" class="form-control" data-ng-model="item.key" type="text"/>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="cell-content input-cell">
                                <div>
                                    <input id="services_details_config_object_value_{{$parent.$index}}_{{$index}}" class="form-control" data-ng-model="item.value" type="text"/>
                                </div>
                            </div>

                        </td>

                        <td class="no-border">
                            <div class="cell-content icon-cell">
                                <div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default"
                                                data-ng-click="deleteKeyValue(serviceConfig[field.name], key)"
                                                id="services_details_config_object_removevalue_{{$parent.$index}}_{{$index}}">
                                            <i class="fa fa-trash-o fa-fw"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="cell-content input-cell">
                                <div></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div data-ng-if="selectedSchema && !selectedSchema.available" ng-controller="PaywallCtrl">
        <df-paywall license-type="selectedSchema.subscription_required"></df-paywall>
    </div>

</div>

<df-github-modal editor-obj="serviceConfigEditorObj"
                 accept="allowedConfigGitFormats"
                 target="serviceConfigGitHubTarget">
</df-github-modal>
