<div>

    <button type="button" class="btn btn-default btn-xs" data-ng-click="toggleAllMethod()">Toggle All</button>


        <label class="checkbox-inline"><small>GET</small></label>
        <input type="checkbox" data-ng-model="method.GET" data-ng-checked="method.GET" />

        <label class="checkbox-inline"><small>POST</small></label>
        <input type="checkbox" data-ng-model="method.POST" data-ng-checked="method.POST" />

        <label class="checkbox-inline"><small>PUT</small></label>
        <input type="checkbox" data-ng-model="method.PUT" data-ng-checked="method.PUT" />

        <label class="checkbox-inline"><small>PATCH</small></label>
        <input type="checkbox" data-ng-model="method.PATCH" data-ng-checked="method.PATCH" />

        <label class="checkbox-inline"><small>DELETE</small></label>
        <input type="checkbox" data-ng-model="method.DELETE" data-ng-checked="method.DELETE" />

        <label class="checkbox-inline"><small>COPY</small></label>
        <input type="checkbox" data-ng-model="method.COPY" data-ng-checked="method.COPY" />

</div>