<div>

    <button type="button" class="btn btn-default btn-xs" data-ng-click="toggleAllVerbs()">Toggle All</button>


        <label class="checkbox-inline"><small>GET</small></label>
        <input type="checkbox" data-ng-model="verbs.GET" data-ng-checked="verbs.GET" />

        <label class="checkbox-inline"><small>POST</small></label>
        <input type="checkbox" data-ng-model="verbs.POST" data-ng-checked="verbs.POST" />

        <label class="checkbox-inline"><small>PUT</small></label>
        <input type="checkbox" data-ng-model="verbs.PUT" data-ng-checked="verbs.PUT" />

        <label class="checkbox-inline"><small>PATCH</small></label>
        <input type="checkbox" data-ng-model="verbs.PATCH" data-ng-checked="verbs.PATCH" />

        <label class="checkbox-inline"><small>MERGE</small></label>
        <input type="checkbox" data-ng-model="verbs.MERGE" data-ng-checked="verbs.MERGE" />

        <label class="checkbox-inline"><small>DELETE</small></label>
        <input type="checkbox" data-ng-model="verbs.DELETE" data-ng-checked="verbs.DELETE" />

        <label class="checkbox-inline"><small>COPY</small></label>
        <input type="checkbox" data-ng-model="verbs.COPY" data-ng-checked="verbs.COPY" />

</div>