<div>
    <df-large-help data-options="dfLargeHelp.chatConfig"></df-large-help>

    <div>

        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input data-ng-model="chatEnabled" type="checkbox"/>
                    Enable live chat
                </label>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-primary" data-ng-click="saveChatConfig()" >
            <span>Save</span>
        </button>
    </div>
</div>