<div>

    <df-large-help data-options="dfLargeHelp.openRegistration"></df-large-help>
    <div class="form-group">
        <div class="checkbox">
            <label>
            <input data-ng-model="systemConfig.record.allow_open_registration"
                   data-ng-checked="systemConfig.record.allow_open_registration" type="checkbox"/>
                Allow Open Registration</label>
        </div>
    </div>

    <div class="form-group">
        <label>Select default Role For Open Registration users</label>
        <select class="form-control" data-ng-model="systemConfig.record.open_reg_role_id"
                data-ng-options="role.id as role.name for role in rolesData">
            <option value="">- - None - -</option>
        </select>
    </div>

    <div class="form-group">
        <label>Select an email service if you want to require email confirmation for open registration</label>
        <select class="form-control" data-ng-model="systemConfig.record.open_reg_email_service_id"
                data-ng-options="service.id as service.name for service in servicesData | filter:service.type='Email Service'">
            <option value="">- - None - -</option>
        </select>
    </div>

    <div class="form-group">
        <label>Optionally select an email template for open registration</label>
        <select class="form-control" data-ng-model="systemConfig.record.open_reg_email_template_id"
                data-ng-options="emailTemplate.id as emailTemplate.name for emailTemplate in emailTemplatesData">
            <option value="">- - None - -</option>
        </select>
    </div>
</div>


