<div>
    <df-large-help data-options="dfLargeHelp.systemInfo"></df-large-help>
    <fieldset>
        <legend><h4>DreamFactory Instance</h4></legend>
        <table width="100%">
            <tr>
                <td valign="top" style="width: 60%;">
                    <p>
                        License Level: {{systemEnv.platform.license}}
                    </p>
                    <p ng-if="paidLicense">
                        License Key: {{systemEnv.platform.license_key}}
                    </p>
                    <p ng-if="paidLicense">
                        Subscription Status: {{subscriptionData.msg}}
                    </p>
                    <p ng-if="paidLicense">
                        Subscription Expiration Date: {{subscriptionData.renewal_date}}
                    </p>
                    <p>
                        DreamFactory Version: {{systemEnv.platform.version}}
                    </p>
                    <p ng-if="isSysAdmin">
                        System Database: {{systemEnv.platform.db_driver}}
                    </p>
                    <p data-ng-if="isSysAdmin && systemEnv.platform.db_driver === 'sqlite'">
                        Sqlite Storage: {{systemEnv.platform.sqlite_storage}}
                    </p>
                    <p ng-if="isSysAdmin">
                        Install Path: {{systemEnv.platform.install_path}}
                    </p>
                    <p ng-if="isSysAdmin">
                        Log Path: {{systemEnv.platform.log_path}}
                    </p>
                    <p ng-if="isSysAdmin">
                        Log Mode: {{systemEnv.platform.log_mode}}
                    </p>
                    <p ng-if="isSysAdmin">
                        Log Level: {{systemEnv.platform.log_level}}
                    </p>
                    <p ng-if="isSysAdmin">
                        Cache Driver: {{systemEnv.platform.cache_driver}}
                    </p>
                    <p data-ng-if="isSysAdmin && systemEnv.platform.cache_driver === 'file'">
                        Cache Path: {{systemEnv.platform.cache_path}}
                    </p>
                    <p ng-if="isSysAdmin">
                        Demo: {{systemEnv.platform.bitnami_demo}}
                    </p>
                    <p ng-if="isSysAdmin">
                        DreamFactory Instance ID: {{systemEnv.platform.df_instance_id}}
                    </p>
                </td>
                <td ng-if="isSysAdmin" style="width: 40%; padding-left: 10px; border-left: dashed 1px;" valign="top" >
                    <h5>Installed Packages</h5>
                    <div style="color:red" data-ng-if="systemEnv.platform.packages.error">
                        Error: {{systemEnv.platform.packages.error}}
                    </div>
                    <div style="height: 300px; overflow-y: auto" data-ng-if="systemEnv.platform.packages.length>0 && systemEnv.platform.packages[0].name">
                        <table width="100%" cellpadding="5px">
                            <thead>
                                <tr><th style="border-bottom: solid 2px">Name</th>
                                    <th style="border-bottom: solid 2px">Version</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="pkg in systemEnv.platform.packages">
                                    <td style="width: 65%; border-bottom: dotted 1px">{{pkg.name}}</td>
                                    <td style="width: 35%; border-bottom: dotted 1px">{{pkg.version}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        <p>
            &nbsp;
        </p>
    </fieldset>
    <fieldset ng-if="isSysAdmin">
        <legend><h4>Server</h4></legend>
        <p>
            Operating System: {{systemEnv.server.server_os}}
        </p>
        <p>
            Release: {{systemEnv.server.release}}
        </p>
        <p>
            Version: {{systemEnv.server.version}}
        </p>
        <p>
            Host: {{systemEnv.server.host}}
        </p>
        <p>
            IP Address: {{systemEnv.server.ip}}
        </p>
        <p>
            Machine: {{systemEnv.server.machine}}
        </p>
        <p>
            PHP Version: {{systemEnv.php.core.php_version}}
        </p>
        <p>
            PHP Server API: {{systemEnv.php.general.server_api}}
        </p>
        <p>
            &nbsp;
        </p>
    </fieldset>
    <fieldset>
        <legend><h4>Client</h4></legend>
        <p>
            User Agent: {{systemEnv.client.user_agent}}
        </p>
        <p>
            IP Address: {{systemEnv.client.ip_address}}
        </p>
        <p>
            Locale: {{systemEnv.client.locale}}
        </p>
        <p>
            &nbsp;
        </p>
    </fieldset>
</div>
