<div>
    <df-large-help data-options="dfLargeHelp.systemInfo"></df-large-help>

    <p>
        Admin Application Version: {{APP_VERSION}}
    </p>

    <p>
        DreamFactory Version: {{systemEnv.platform.version_current}}
    </p>

    <div data-ng-if="systemEnv.platform.upgrade_available == true">
         Newer version {{systemEnv.platform.version_latest}} is available!&nbsp;&nbsp;
         <button type="button" data-ng-click="upgrade()" class="btn btn-default btn-success btn-sm">View Upgrade Info</button>
     </div>

</div>



