<div>
    <df-large-help data-options="dfLargeHelp.userInvites"></df-large-help>
    <div class="form-group">
        <label>Select an email service for user invites</label>
        <select class="form-control" data-ng-model="systemConfig.record.invite_email_service_id"
                data-ng-options="service.id as service.name for service in servicesData | filter:service.type='Email Service'">
            <option value="">- - None - -</option>
        </select>
    </div>

    <div class="form-group">
        <label>Optionally select an email template for user invites</label>
        <select class="form-control" data-ng-model="systemConfig.record.invite_email_template_id"
                data-ng-options="emailTemplate.id as emailTemplate.name for emailTemplate in emailTemplatesData">
            <option value="">- - None - -</option>
        </select>
    </div>
</div>

