<div>
    <df-paginate-table data-api="'app'" data-linked-data="apps" data-prep-func="appsPrepFunc(dataArr)"></df-paginate-table>


    <table class="table table-striped table-bordered table-condensed">

        <thead>
            <th>Default</th>
            <th>Selected</th>
            <th>App Name</th>
        </thead>


        <tr data-ng-repeat="app in apps">
            <td class="col-xs-1">
               <input type="radio" value="{{app.record.id}}" name="_default-app-id" data-ng-model="$parent.defaultAppId" data-ng-change="_toggleDefaultAppId(app)" />
            </td>
            <td class="col-xs-1">
                <input type="checkbox"
                       data-ng-checked="app.__dfUI.inRole"
                       data-ng-model="app.__dfUI.inRole"
                       data-ng-change="_toggleAppInRole(app)"/>
            </td>

            <td class="col-xs-10">
                {{app.record.name}}
            </td>

        </tr>
    </table>


</div>

