
<div class="panel panel-default">
    <div class="panel-heading">
        Service Access <df-simple-help data-options="dfSimpleHelp.serviceAccess"></df-simple-help>
    </div>
    <div class="panel-body">

        <label>Assign Service Access to this Role</label>

        <hr />

        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-3">
                    <label>Service</label>
                </div>
                <div class="col-xs-3">
                    <label>Component</label>
                </div>
                <div class="col-xs-2">
                    <label>Access</label>
                </div>
                <div class="col-xs-2">
                    <label>Requestor</label>
                </div>
                <div class="col-xs-1">
                    <label>Advanced Filters</label>
                </div>
                <div class="col-xs-1" >
                    <label>
                        <button type="button" class="btn btn-default btn-sm" data-ng-click="addServiceAccess()" title="Add new service access">
                            <i class="fa fa-plus fa-fw"></i>
                        </button>
                    </label>

                </div>
            </div>
        </div>

        <ul class="list-group">
            <li class="list-group-item" data-ng-repeat="serviceAccess in roleServiceAccesses track by $index" ng-show="serviceAccess.record.role_id !== null">
                <df-service-access data-service-access="serviceAccess" data-index="$index"></df-service-access>
            </li>
        </ul>
        <p ng-show="roleServiceAccesses.length === 0">
            No service access for this role. Click the add button to grant/deny access.
        </p>

    </div>
</div>
