<div>


    <df-paginate-table data-api="'user'" data-linked-data="users" data-prep-func="usersPrepFunc(dataArr)"></df-paginate-table>


    <div data-df-tip>
        <table class="table table-striped table-bordered table-condensed">

            <thead>
                <th>
                    Assigned
                </th>
                <th>
                    Email
                </th>
                <th>
                    Current Role
                </th>
            </thead>

            <tbody>
            <tr data-ng-repeat="user in users">
                <td class="col-xs-1">
                    <input type="checkbox"
                           data-ng-checked="user.__dfUI.hasRole"
                           data-ng-model="user.__dfUI.hasRole"
                           data-ng-change="_toggleUserInRole(user)" /><!-- data-ng-disabled="user.record.is_sys_admin" -->
                </td>
                <td class="col-xs-6">{{user.record.email}}</td>
                <td class="col-xs-5">
                    <span data-ng-if="user.record.is_sys_admin">Administrator</span>
                    <span data-ng-if="!user.record.is_sys_admin">{{user.__dfUI.currentRole.name}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


</div>

