<div>

    <!-- Form Title -->
    <df-details-header data-new="newRole" data-api-name="'Role'" data-name="role.record.name"></df-details-header>

    <form data-ng-submit="saveRole()" novalidate>

        <ul class="nav nav-tabs" data-role="tablist">
            <li class="active"><a showtab href="#basic" id="basic-tab" data-ng-class="basicInfoError ? 'df-tab-has-error' : ''">Basic</a></li>
            <li><a showtab href="#access" id="access-tab">Access</a></li>
            <li><a showtab href="#lookupkeys" id="lookupkeys-tab" data-ng-class="lookupKeysError ? 'df-tab-has-error' : ''">Lookup Keys</a></li>
        </ul>

        <div class="tab-content" style="margin-top: 20px">
            <div id="basic" class="tab-pane active">

                <df-large-help data-options="dfLargeHelp.basic"></df-large-help>
                <div>
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" data-ng-model="role.record.name" type="text" required/>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input class="form-control" data-ng-model="role.record.description" type="text"/>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input data-ng-checked="role.record.is_active" type="checkbox" data-ng-model="role.record.is_active"/>
                                Active
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="access" class="tab-pane">
                <df-large-help data-options="dfLargeHelp.access"></df-large-help>
                <assign-service-access></assign-service-access>
            </div>
            <div id="lookupkeys" class="tab-pane">
                <df-large-help data-options="dfLargeHelp.lookupkeys"></df-large-help>
                <df-assign-look-up-keys></df-assign-look-up-keys>
            </div>
        </div><!-- /.tab-content -->



        <div class="form-group">
            <div data-ng-if="newRole">
                <input class="btn btn-default btn-primary" type="submit" value="Create Role" />
            </div>
            <div data-ng-if="!newRole">
                <input class="btn btn-default btn-primary" type="submit" value="Update Role" />
                <button type="button" class="btn btn-default" data-ng-click="closeRole()">Close</button>
            </div>
        </div>
    </form>
</div>