<!-- Creation Form -->
<div class="modal fade" tabindex="-1" role="dialog" id="wizardModal">
    <div class="modal-wizard modal-dialog modal-lg" role="document">
        <div class="modal-content wizard-container">
            <ng-include src="'images/wizard-close-button.svg'" class="wizard-close-button" ng-click="closeWizard()"></ng-include>
            <div class="modal-header">
                <h4 class="modal-title">API Wizard</h4>
            </div>
            <div class="modal-body" ng-if='!dataLoading'>
                <div ng-show="!wizardData.type">
                    <h2>Welcome to DreamFactory!</h2>
                    <p>Thank you for signing up to DreamFactory. To help get you started, we have provided you with a dedicated MySQL Database containing several million records spread across six tables. You can use this database to generate an API, or use your own.</p>
                    <p><em>Please note that the Api Wizard is currently in beta. At present it supports the ability to instantly generate an API for MySQL and MS SQL Server. If you would like to create an API for another service, please go to the <a style="color: #0000EE;" href="#/services"><u>Services</u></a> tab and generate your API from there.</em></p>
                    <h4>Which service would you like to create your API for?</h4>
                    <form class="wizard-service">
                        <label ng-repeat="serviceType in serviceTypes" for="{{serviceType}}" class="wizard-service-label">
                            <input  type="radio"
                            ng-model="wizardData.type"
                            ng-value="serviceType">
                            {{serviceType}}
                        </label>
                    </form>
                </div>
                <div ng-show="wizardData.type">
                    <h2>Generating API for: {{wizardData.type}}</h2>
                    <p>DreamFactory will instantly generate an API from your {{wizardData.type}} database.<br> 
                    Just follow the steps to get started.</p>
                    <ng-include src="'admin_components/adf-wizard/views/df-wizard-progress-bar.html'"></ng-include>
                    <div ng-show="!apiCreated">
                        <div>
                            <p ng-show="!namespaceDone">Lets start off by assigning a namespace (the URI endpoint), and a label so we can find it later.</p>
                            <p ng-show="namespaceDone">Please provide the following credentials to hook up to your {{wizardData.type}} database. (If you require more advanced options, please create your connector from the <a style="color: #0000EE;" href="#/services"><u>Services</u></a> tab)</p>
                            <p ng-show="namespaceDone && wizardData.type === 'MySQL'"><em>Alternatively, in the email we sent you, you will find credentials to hook up to a MySQL database we have provided for you. Feel free to play around!</em></p>
                        </div> 
    
                        <form ng-submit="saveService()">
                            <div ng-show="!namespaceDone">
                                <div class="form-group">
                                    <label for="serviceNamespace">Namespace</label>
                                    <input type="text" class="form-control" id="serviceNamespace" placeholder="e.g. db"
                                            ng-model="wizardData.namespace" aria-describedby="namespaceHelp">
                                    <span id="namespaceHelp" class="help-block"><p class="text-muted">The namespace to be used for the API’s URI structure, such as 'db' in /api/v2/db. It should be lowercase and alphanumeric.</p></span>
                                </div>
                                <div class="form-group">
                                    <label for="serviceLabel">Label</label>
                                    <input type="text" class="form-control" id="serviceLabel" placeholder="e.g. {{wizardData.type}}_db"
                                            ng-model="wizardData.label" aria-describedby="labelHelp">
                                    <span id="labelHelp" class="help-block"><p class="text-muted">Assign a display name or label for the service.</p></span>
                                </div>
                                <div class="form-group">
                                    <label for="serviceDescription">Description</label>
                                    <input type="text" class="form-control" id="serviceDescription"
                                            placeholder="e.g. My Test {{wizardData.type}} Database" ng-model="wizardData.description"
                                            aria-describedby="descriptionHelp">
                                    <span id="descriptionHelp" class="help-block"><p class="text-muted">Write a brief description of the API (optional).</p></span>
                                </div>
                                <div class="form-controls">
                                    <button type="button" class="btn btn-default btn-primary" ng-click="wizardData.type = null">Back</button>
                                    <button type="button" class="btn btn-default btn-primary" ng-click="namespaceDone = true">Next</button>
                                </div>
                            </div>
                            <div ng-show="namespaceDone">
                                <div class="form-group">
                                    <label for="serviceHost">Host</label>
                                    <input type="text" class="form-control" id="serviceHost" placeholder="Host"
                                            ng-model="wizardData.host">
                                </div>
                                <div class="form-group">
                                    <label for="serviceDatabase">Database</label>
                                    <input type="text" class="form-control" id="serviceDatabase" placeholder="Database"
                                            ng-model="wizardData.database">
                                </div>
                                <div class="form-group">
                                    <label for="serviceUsername">Username</label>
                                    <input type="text" class="form-control" id="serviceUsername" placeholder="Username"
                                            ng-model="wizardData.username">
                                </div>
                                <div class="form-group">
                                    <label for="servicePassword">Password</label>
                                    <input type="password" class="form-control" id="servicePassword" placeholder="Password"
                                            ng-model="wizardData.password">
                                </div>
                                <div class="form-group" ng-if="wizardData.type === 'SQL Server'">
                                    <label for="serviceSchema">Schema</label>
                                    <input type="text" class="form-control" id="serviceSchema" placeholder="Schema"
                                            ng-model="wizardData.schema">
                                </div>
                                <div class="form-controls">
                                    <button type="button" class="btn btn-default btn-primary" ng-click="namespaceDone = false">Back</button>
                                    <button type="submit" class="btn btn-default btn-primary">Next</button>
                                </div>
                            </div>
                        </form>
                        <br>
                    </div>
                </div>
                <!-- Show only the below after successful service creation -->
                <div ng-show="apiCreated && !permissionsCreated ">
                    <div class="wizard-api-created">🎉 Your <strong>{{wizardData.type}} API</strong> has been generated!</div>
                    <hr>
                    <p>Would you like to generate a set of read-only-permissions (RBAC) so you can test it out?</p>
                    <div class="form-controls">
                        <button type="button" class="btn btn-default btn-primary" ng-click="createReadOnlyPermissions()">Generate Permissions</button>
                    </div>
                </div>
                <!-- Show only the below after successful role creation -->
                <div ng-show="permissionsCreated">
                    <div class="wizard-api-created">🎉 We have generated a read only set of permissions.<br>󠀠󠀠󠀠  Your API Key is {{apiKey}}</div>
                    <hr>
                    <p>Copy the following curl command and execute it in your terminal to see the list of tables in your database</p>
                    <pre><code>curl -X GET "{{baseUrl}}{{wizardData.namespace}}/_table/" -H "accept: application/json" -H "X-DreamFactory-Api-Key: {{apiKey}}"</code></pre>
                    <p>Or copy the following curl command, amending the {tableName} and execute it in your terminal to see the first two results of that table:</p>
                    <pre><code>curl -X GET "{{baseUrl}}{{wizardData.namespace}}/_table/{tableName}?limit=2" -H "accept: application/json" -H "X-DreamFactory-Api-Key: {{apiKey}}"</code></pre>
                    <hr>
                    <p>That's it! From here you can go to:</p>
                    <ul>
                        <li>The <a style="color: #0000EE; cursor: pointer;" ng-click="pageLink('/services')"><u>Services</u></a> tab to manage current APIs or create new ones.</li>
                        <li>The <a style="color: #0000EE; cursor: pointer;" ng-click="pageLink('/roles')"><u>Roles</u></a> tab to manage / create Role Based Access Controls.</li>
                        <li>The <a style="color: #0000EE; cursor: pointer;" ng-click="pageLink('/apps')"><u>Apps</u></a> tab to manage / create API Keys.</li>
                        <li>The <a style="color: #0000EE; cursor: pointer;" ng-click="pageLink('/apidocs')"><u>API Docs</u></a> tab to view documentation on created APIs.</li>
                    </ul>
                </div>
                <hr>
                <!-- Close the wizard, same for every page except for the below line of text -->
                <p ng-if="!permissionsCreated">No thanks, take me back to the homepage</p>
                <button type="button" class="btn btn-default" ng-click="closeWizard()">Close</button>
            </div>
            <div ng-if='dataLoading'>
                <span style='display: block; width: 100%; text-align: center; color: #A0A0A0; font-size: 50px; margin-top: 100px; margin-bottom: 100px'>
                    <i class='fa fa-refresh fa-spin'></i>
                </span>
            </div>
        </div>
    </div>
</div> 
