<div class="container">

  <h2>Welcome To DreamFactory!</h2>
  <p>Thank you for signing up to DreamFactory.To help get you started, we have provided you with a dedicated MySQL Database containing several million records spread across six tables.</p>
  <p>Let's use this database to create your first API. In the email we sent you, we have provided the necessary credentials to hook up to this MySQL database. Go ahead and copy paste them into the fields below:</p>

  <form ng-submit="saveService()">
    <div class="form-group">
      <label for="mysqlNamespace">Namespace</label>
      <input type="text" class="form-control" id="mysqlNamespace" placeholder="Namespace" ng-model="namespace">
    </div>
    <div class="form-group">
      <label for="mysqlLabel">Label</label>
      <input type="text" class="form-control" id="mysqlLabel" placeholder="Label" ng-model="label">
    </div>
    <div class="form-group">
      <label for="mysqlDescription">Description</label>
      <input type="text" class="form-control" id="mysqlDescription" placeholder="Description" ng-model="description">
    </div>
    <hr>
    <h4>Configuration Settings</h4>
    <div class="form-group">
      <label for="mysqlHost">Host</label>
      <input type="text" class="form-control" id="mysqlHost" placeholder="Host" ng-model="host">
    </div>
    <div class="form-group">
      <label for="mysqlDatabase">Database</label>
      <input type="text" class="form-control" id="mysqlDatabase" placeholder="Database" ng-model="database">
    </div>
    <div class="form-group">
      <label for="mysqlUsername">Username</label>
      <input type="text" class="form-control" id="mysqlUsername" placeholder="Username" ng-model="username">
    </div>
    <div class="form-group">
      <label for="mysqlPassword">Password</label>
      <input type="password" class="form-control" id="mysqlPassword" placeholder="Password" ng-model="password">
    </div>
    <button type="submit" class="btn btn-default">Create API</button>
  </form>

  <br>
  <p>No thanks, take me back to the homepage</p>
  <div class="form-controls">
    <a class="btn btn-default btn-primary" href="#/home" >Home</a>
  </div>

  <p>Remove the Cookie for Testing Purposes, delete this on full release</p>
  <button type="button" class="btn btn-danger" ng-click="removeCookie()">Remove Cookie</button>
</div>

