<div class="full-color-bg"></div>

<!-- Attach the DreamFactory User Login functionality -->
<!-- We set the options attribute to an object with a property 'showTemplate' to false
     to instruct the directive not to render its template.  We only want the
     functionality of the Login Directive.  We'll pass the info it requires to it
     instead of having the user do it through the standard form -->
<dreamfactory-user-login options="{showTemplate: false}"></dreamfactory-user-login>

<!-- Attach the DreamFactory User Register functionality -->
<!-- This will render a basic register form -->
<dreamfactory-register-user data-options="options"></dreamfactory-register-user>

<!-- Display admin application version -->
<df-copyright-footer></df-copyright-footer>