<div>
    <div class="row">
        <div>
            <div class="btn-group col-xs-2" role="group" aria-label="">
                <df-db-function-use-picker data-allowed-uses="functionUse.use"
                                           data-size="sm"></df-db-function-use-picker>
            </div>
            <div class="btn-group col-xs-3" role="group" aria-label="">
                <input class="form-control" data-ng-model="functionUse.function" type="text"/>
            </div>
            <div class="btn-group col-xs-1" role="group" aria-label="">
                <button type="button" class="btn btn-default btn-sm" 
                    data-ng-click="$parent.removeDbFunctionUse(index)"
                    title="Remove DB Function Use" style="margin-left: 1px">
                    <i class="fa fa-trash-o fa-fw"></i>
                </button>
            </div>
        </div>
    </div>
</div>