<div class="form-group">
    <label>Name</label>
    <span class="text-muted">The relation name used by the API.</span>
    <input class="form-control" type="text" data-ng-model="relation.record.name" data-ng-disabled="true"/>
    <br/>

    <label>Alias</label>
    <span class="text-muted">If set, the alias is used in relation access instead of the name.</span>
    <input class="form-control" type="text" data-ng-model="relation.record.alias"/>
    <br/>

    <label>Label</label>
    <span class="text-muted">A displayable name used by clients.</span>
    <input class="form-control" type="text" data-ng-model="relation.record.label"/>
    <br/>

    <label>Description</label>
    <span class="text-muted">A displayable description used by clients.</span>
    <input class="form-control" type="text" data-ng-model="relation.record.description"/>
    <br/>

    <label>Type&nbsp;&nbsp;</label>
    <input class="form-control" type="text" data-ng-model="relation.record.type" data-ng-disabled="true"/>
    <br/>

    <div class="checkbox">
        <label>
            <input type="checkbox" data-ng-model="relation.record.always_fetch"/>
            Always Fetch</label>
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" data-ng-disabled="true" data-ng-model="relation.record.is_virtual"/>
            Virtual Foreign Key</label>
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" data-ng-disabled="true" data-ng-model="relation.record.is_foreign_service"/>
            Foreign Reference Service</label>
    </div>

    <label>Reference Service</label>
    <input class="form-control" type="text" data-ng-model="relation.record.ref_service" data-ng-disabled="true"/>
    <br/>

    <label>Reference Table</label>
    <input class="form-control" type="text" data-ng-model="relation.record.ref_table" data-ng-disabled="true"/>
    <br/>

    <label>Reference Field</label>
    <input class="form-control" type="text" data-ng-model="relation.record.ref_fields" data-ng-disabled="true"/>
    <br/>

    <div class="checkbox">
        <label>
            <input type="checkbox" data-ng-disabled="true" data-ng-model="relation.record.is_foreign_junction_service"/>
            Foreign Junction Service</label>
    </div>

    <label>Junction Service</label>
    <input class="form-control" type="text" data-ng-model="relation.record.junction_service" data-ng-disabled="true"/>
    <br/>

    <label>Junction Table</label>
    <input class="form-control" type="text" data-ng-model="relation.record.junction_table" data-ng-disabled="true"/>
    <br/>

    <label>Junction Field</label>
    <input class="form-control" type="text" data-ng-model="relation.record.junction_field" data-ng-disabled="true"/>
    <br/>

    <label>Junction Reference Field</label>
    <input class="form-control" type="text" data-ng-model="relation.record.junction_ref_field" data-ng-disabled="true"/>
    <br/>


    <div class="row df-btn-row" style="padding-bottom: 20px">
        <div class="col-xs-12">
            <button type="button" class="btn btn-primary" data-ng-click="saveRelation()"
                    ng-hide="$parent.table.__dfUI.newTable">Save
            </button>
            <button type="button" class="btn btn-default" data-ng-click="closeRelation($parent.table.__dfUI.newTable)">
                Cancel
            </button>
        </div>
    </div>


</div>
