<div>
    <div data-ng-show="currentEditField === null">

        <div data-ng-show="!table.__dfUI.newTable" class="form-group well well-sm">
            <button type="button" class="btn btn-default btn-sm" data-ng-click="toggleViewMode()"
                    title="Switch between table and JSON view modes">
                <span data-ng-if="viewMode === 'table'">JSON</span>
                <span data-ng-if="viewMode === 'json'">Table</span>
            </button>
            <button type="button" data-ng-if="viewMode === 'json'" class="btn btn-default btn-sm"
                    data-ng-click="checkJSON()" title="Validate JSON">Validate
            </button>
        </div>

        <div data-ng-show="viewMode === 'table'">
            <div class="form-group">
                <label>Table Name</label>
                <input type="text" class="form-control" data-ng-model="table.record.name"
                       placeholder="Enter table name." data-ng-disabled="!table.__dfUI.newTable"/>
            </div>

            <div class="form-group">
                <label>Alias</label>
                <input type="text" class="form-control" data-ng-model="table.record.alias" placeholder=""/>
            </div>

            <div class="form-group">
                <label>Label</label>
                <input type="text" class="form-control" data-ng-model="table.record.label"
                       placeholder="Enter table label."/>
            </div>

            <div class="form-group">
                <label>Plural Label</label>
                <input type="text" class="form-control" data-ng-model="table.record.plural"
                       placeholder="Enter table plural label."/>
            </div>

            <div class="form-group well well-sm">
                <button type="button" class="btn btn-default btn-sm" data-ng-click="addField()" title="Add new field"
                        data-ng-disabled="viewMode === 'json'">Add Field
                </button>
            </div>

            <table class="table table-condensed table-hover table-striped table-bordered">
                <th></th>
                <th>Name</th>
                <th>Type</th>

                <tr data-ng-repeat="field in table.record.field | orderBy:'name'  track by $index ">
                    <td>
                        <button type="button" class="btn btn-default btn-xs" data-ng-click="deleteField(field)"
                                title="Delete field"><i class="fa fa-fw fa-trash"></i></button>
                        <button type="button" class="btn btn-default btn-xs"
                                data-ng-class="field.is_primary_key ? 'btn-warning' : ''"
                                data-ng-click="setPrimaryKey(field)" title="Set primary key"><i
                                class="fa fa-fw fa-key"></i></button>
                    </td>
                    <td data-ng-click="editField(field)">{{field.name}}</td>
                    <td data-ng-click="editField(field)">{{field.type}}</td>
                </tr>
            </table>
        </div>

        <div data-ng-show="viewMode === 'json'" class="row">

            <div class="col-xs-12">
                <df-ace-editor data-direct-data="table.record" data-is-editable="isEditable"
                               data-is-clean="isEditorClean" data-current-editor="editor"></df-ace-editor>
            </div>

        </div>

        <div class="row df-btn-row" style="padding-bottom: 20px; margin-top: 20px;">
            <div class="col-xs-12">

                <button data-ng-if="table.__dfUI.newTable" type="button" class="btn btn-primary"
                        data-ng-click="saveTable()">Create
                </button>
                <button data-ng-if="!table.__dfUI.newTable" type="button" class="btn btn-primary"
                        data-ng-click="updateTable()">Update
                </button>
                <button data-ng-if="!table.__dfUI.newTable" type="button" class="btn btn-primary"
                        data-ng-click="closeTable()">Close
                </button>
            </div>
        </div>
    </div>


    <div data-ng-show="currentEditField !== null">
        <df-field-details data-field-data="currentEditField" data-current-table="table.record.name"
                          data-current-service="table.currentService"></df-field-details>
    </div>
</div>
