
<h4>Relationships</h4>

<div class="form-group form-controls">
    <button id="schema_relation_new" type="button" class="btn btn-default btn-sm" data-ng-click="addRelation()"
            title="Add virtual relationship" data-ng-disabled="(viewMode === 'json') || $parent.table.__dfUI.newTable">
        <i class="fa fa-plus"></i>
        Add Virtual Relationship
    </button>
</div>

<table class="table table-condensed table-hover table-striped table-bordered">
    <thead>
        <th></th>
        <th>Name</th>
        <th>Alias</th>
        <th>Type</th>
        <th>Virtual</th>
    </thead>

    <tbody>
        <tr data-ng-repeat="relation in relationTableData | orderBy:'name' track by $index ">
            <td>
                <div class="cell-content">
                    <div>
                        <button type="button" class="btn btn-default btn-xs" id="schema_relation_table_row_delete_{{$index}}"
                                data-ng-if="relation.is_virtual" data-ng-click="deleteRelation(relation)"
                                title="Delete Relation"><i class="fa fa-fw fa-trash"></i></button>
                    </div>
                </div>
            </td>
            <td id="schema_relation_table_row_{{$index}}_name" data-ng-click="editRelation(relation)">
                <div class="cell-content">
                    <div>
                        {{relation.name}}
                    </div>
                </div>
            </td>
            <td id="schema_relation_table_row_{{$index}}_alias" data-ng-click="editRelation(relation)">
                <div class="cell-content">
                    <div>
                        {{relation.alias}}
                    </div>
                </div>
            </td>
            <td id="schema_relation_table_row_{{$index}}_type" data-ng-click="editRelation(relation)">
                <div class="cell-content">
                    <div>
                        {{relation.type}}
                    </div>
                </div>
            </td>
            <td id="schema_relation_table_row_{{$index}}_virtual" data-ng-click="editRelation(relation)">
                <div class="cell-content">
                    <div>
                        {{relation.is_virtual}}
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
