Testing = {{testing}}

<table class="table table-condensed table-hover table-striped table-bordered">
    <th></th>
    <th ng-click="sortBy('name')">
        Name
        <span ng-show="propertyName == 'name' && !reverse" class="fa fa-caret-down"></span>
        <span ng-show="propertyName == 'name' && reverse" class="fa fa-caret-up"></span>
    </th>
    <th ng-click="sortBy('alias')">
        Alias
        <span ng-show="propertyName == 'alias' && !reverse" class="fa fa-caret-down"></span>
        <span ng-show="propertyName == 'alias' && reverse" class="fa fa-caret-up"></span>
    </th>
    <th ng-click="sortBy('type')">
        Type
        <span ng-show="propertyName == 'type' && !reverse" class="fa fa-caret-down"></span>
        <span ng-show="propertyName == 'type' && reverse" class="fa fa-caret-up"></span>
    </th>
    <th ng-click="sortBy('required')">
        Required
        <span ng-show="propertyName == 'required' && !reverse" class="fa fa-caret-down"></span>
        <span ng-show="propertyName == 'required' && reverse" class="fa fa-caret-up"></span>
    </th>
    <tr data-ng-repeat="field in testing.record.field | orderBy:propertyName:reverse track by $index ">
        <td>
            <button type="button" class="btn btn-default btn-xs" data-ng-click="deleteField(field)"
                    title="Delete field"><i class="fa fa-fw fa-trash"></i></button>
            <button type="button" class="btn btn-default btn-xs"
                    data-ng-class="field.is_primary_key ? 'btn-warning' : ''"
                    data-ng-click="setPrimaryKey(field)" title="Set primary key"><i
                    class="fa fa-fw fa-key"></i></button>
        </td>
        <td data-ng-click="editField(field)">{{field.name}}</td>
        <td data-ng-click="editField(field)">{{field.alias}}</td>
        <td data-ng-click="editField(field)">{{field.type}}</td>
        <td data-ng-click="editField(field)">{{field.required}}</td>
    </tr>
</table>
