<div class="row">
    <div class="col-xs-12">
        <df-ace-editor data-direct-data="uploadSchemaData" data-is-editable="uploadIsEditable" data-is-clean="uploadIsEditorClean" data-current-editor="uploadEditor" hide-gutter="false"></df-ace-editor>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-xs-12">
        <button type="button" data-ng-click="uploadSchema()" class="btn btn-primary btn-upload-schema">Upload</button>
        <button type="button" data-ng-click="closeUploadSchema()" class="btn btn-default">Cancel</button>
    </div>
</div>

