<div class="">
    <div class="col-xs-12 df-section df-section-all-round"  df-fs-height>

        <!-- Section Header -->
        <!--<df-section-header data-title="'Manage Schema'"></df-section-header>-->


        <!-- Overview description -->
        <df-large-help data-options="dfLargeHelp.manageSchema"></df-large-help>

        <div class="row">
            <div class="col-md-4 col-sm-5" >
                <!-- Schema Navigator -->
                <df-schema-navigator></df-schema-navigator>

                <hr class="visible-xs" />
            </div>

            <div class="col-md-8 col-sm-7">
                <df-schema-editor></df-schema-editor>
            </div>
        </div>
    </div>
</div>
